<!-- <div class="header-proposition">
  <div class="content">
    <a href="#proposition-links" class="js-header-toggle menu">Menu</a>
    <nav id="proposition-menu">
      <a href="/" id="proposition-name">{% if serviceName %} {{ serviceName }} {% endif %}</a>

      <ul id="proposition-links">
        <li><a href="/cases">Current cases</a></li>
        <li><a href="/completed-cases">Completed cases</a></li>
        <li class="logout"><a href="/login">Sign out</a></li>
      </ul>

    </nav>
  </div>
</div>
 -->