// Path to assets for use with the file-url function
// in the govuk frontend toolkit's url-helpers partial
$path: "/public/images/";

// Import GOV.UK elements from /govuk-modules/, this will import the frontend toolkit and some base styles.
// Take a look in /govuk-modules/_govuk-elements.scss to see which files are imported.
@import 'govuk-elements';

// Take a look at in app/assets/sass/patterns/ to see which files are imported.
@import 'patterns/check-your-answers';

// Related items
// (These styles will be moved to GOV.UK elements, duplicating here for now.)
.govuk-related-items {
  margin-top: $gutter;
  border-top: 10px solid $govuk-blue;
  padding-top: 5px;

  .heading-medium {
    margin-top: 0.3em;
    margin-bottom: 0.5em;
  }

  li {
    margin-bottom: 10px;
    list-style-type: none;
  }
}

// Add extra styles here, or re-organise the Sass files in whichever way makes most sense to you

.link-back { margin-bottom: 0 }

legend {
  margin-bottom: 0.3125em;
}

@media (min-width: 641px) {
  legend {
    margin-bottom: 0.26316em;
  }
}



// Updates to global header
// Update title to be full width
@media (min-width: 769px) {
  #global-header .header-global {
      width: 100%!important;
  }
}




// New global navigation
.global-nav {
  background-color: $panel-colour;
}
  .global-nav:after {
    content: "";
    display: block;
    clear: both;
  }


.global-nav .nav-wrapper {
  background-color: $panel-colour;
  max-width: 990px;
  margin: 0 auto;
  padding: 8px 0;
}
  @media (min-width: 641px) {
    .global-nav .nav-wrapper {
      padding: 8px 15px;
      position: relative;
    }
    .logout {
      position: absolute;
      right: 15px;
      top: 8px;
    }
  }
  .nav-wrapper:after {
    content: "";
    display: block;
    clear: both;
  }



.header-proposition {
  padding-top: 10px;
}
  @media (min-width: 769px) {
    .header-proposition {
        padding-top: 0;
    }
  }

.header-proposition .content {
  margin: 0 15px;
}


.header-proposition a.menu {
  font-family: "nta", Arial, sans-serif;
  font-weight: 400;
  text-transform: none;
  font-size: 14px;
  line-height: 1.14286;
  color: $text-colour;
  display: block;
  float: right;
  text-decoration: none;
  padding-top: 6px;
}
  @media (min-width: 641px) {
    .header-proposition a.menu {
      font-size: 16px;
      line-height: 1.25;
    }
  }
  @media (min-width: 769px) {
    .header-proposition a.menu {
      display: none;
    }
  }
  .header-proposition a.menu:hover {
    text-decoration: underline;
  }
  .header-proposition a.menu:after {
    display: inline-block;
    font-size: 8px;
    height: 8px;
    padding-left: 5px;
    vertical-align: middle;
    content: " \25BC";
  }
  .header-proposition a.menu.js-hidden:after {
    content: " \25B2";
  }


.header-proposition #proposition-link,
.header-proposition #proposition-links {
  clear: both;
  // margin: 2px 0 0 0;
  padding: 0;
}
  .js-enabled .header-proposition #proposition-link,
  .js-enabled .header-proposition #proposition-links {
    display: none;
  }
  @media (min-width: 769px) {
    .js-enabled .header-proposition #proposition-link,
    .js-enabled .header-proposition #proposition-links {
      display: block;
    }
  }
  .js-enabled .header-proposition #proposition-link.js-visible,
  .js-enabled .header-proposition #proposition-links.js-visible {
    display: block;
  }
  .header-proposition #proposition-link li,
  .header-proposition #proposition-links li {
    float: left;
    width: 50%;
    padding: 3px 0;
    border-bottom: 1px solid #2e3133;
  }
    @media (min-width: 769px) {
      .header-proposition #proposition-link li,
      .header-proposition #proposition-links li {
        display: block;
        width: auto;
        padding: 0 15px 0 0;
        border-bottom: 0;
      }
        .header-proposition #proposition-link li.clear-child,
        .header-proposition #proposition-links li.clear-child {
          clear: left;
        }
    }
    .header-proposition #proposition-link a,
    .header-proposition #proposition-links a {
      color: $text-colour;
      text-decoration: none;
      font-family: "nta", Arial, sans-serif;
      font-weight: 700;
      text-transform: none;
      font-size: 12px;
      line-height: 1.25;
    }
      @media (min-width: 641px) {
        .header-proposition #proposition-link a,
        .header-proposition #proposition-links a {
          font-size: 14px;
          line-height: 1.42857;
        }
      }
      @media (min-width: 769px) {
        .header-proposition #proposition-link a,
        .header-proposition #proposition-links a {
          font-size: 14px;
          line-height: 1.14286;
        }
      }
      @media (min-width: 769px) and (min-width: 641px) {
        .header-proposition #proposition-link a,
        .header-proposition #proposition-links a {
          font-size: 16px;
          line-height: 1.25;
        }
      }
      .header-proposition #proposition-link a:hover,
      .header-proposition #proposition-links a:hover {
        text-decoration: underline;
      }
      .header-proposition #proposition-link a.active,
      .header-proposition #proposition-links a.active {
        color: #1d8feb;
      }
      .header-proposition #proposition-link a:focus,
      .header-proposition #proposition-links a:focus {
        color: #0b0c0c;
      }
  .header-proposition #proposition-link {
    float: right;
    line-height: 22px;
  }
    .js-enabled .header-proposition #proposition-link {
      display: block;
    }
    @media (min-width: 769px) {
      .header-proposition #proposition-link {
        float: none;
      }
    }





// Add a secondary coloured highlight box
.govuk-box-highlight-secondary {
  margin: 1em 0;
  padding: 2em 0 1em;
  //color: $white;
  background: $grey-3;
  text-align: center;
}

.button-secondary {
  @include button ($grey-3);
  @include box-sizing (border-box);
  vertical-align: top;

  @include media (mobile) {
    width: 100%;
    text-align: center;
  }
}

// Hover style on table rows
table tr:hover {
  background-color: #f8f8f8;
}




// Sticky header in caseworker
.is-sticky #js-stick {
  border-bottom: 10px solid #005ea5;
  background-color: white;
}

.is-sticky h1 {
  font-size: 24px;
  transition: font 0.3s ease;
}





.list-inline {
  padding-left: 0;
  list-style: none;
}

.list-inline li {
  display: inline-block;
  padding: 6px;
  margin-bottom: 0;
}





// Highlight tag
// e.g. 'Recieved online' tag on docs screen
.tag {
  background: $orange;
  float: left;
  color: white;
  padding: 4px 10px 0px;
}

.tag--risk {
  background: $red;
  float: right;
}

.tag--complete {
  background: $turquoise;
  float: right;
}


// Left Nav
// e.g. Used on caseworker screen
ul.leftnav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  border-right: 1px solid #ccc;
  float: left;
  width: 100%;
  font-size: 16px;

    li {
      margin-bottom: 0px;
    }
    li a {
      display: inline-block;
      padding: 14px 16px;
      text-decoration: none;
      transition: 0.3s;
      display: block;
    }
    li a:hover {
        background-color: #dee0e2;
        color: #005ea5;
    }
    .disabled {
      color: #BFC1C3;
    }
}
/* Change background color of links on hover */
ul.leftnav li a:focus, .active, ul.leftnav li a.active:hover {
    background-color: #005EA5;
    color: #fff !important;
    outline: 0;
}
.leftnavcontent {
    display: none;
    float: left;
    width: 100%;
      h3 {
        margin: 0px;
        display: inline;
      }
      .notice strong {
        margin-bottom: 30px;
      }
      blockquote {
        padding: 30px;
      }
      .other-info {
        margin-top: 1.25em;
        margin-bottom: 60px;
      }
      img {
        display: block;
        width: 100%;
        margin-bottom: 20px;
      }
}
details {
  margin-top: 20px;
  border-bottom: 1px solid #bfc1c3;
  padding-bottom: 10px;

  summary {
    display: block;
  }
}

.tab-container {
  border-bottom: 1px solid $border-colour;
  margin: 30px 0;
  padding: 10px 0;
}

.tab {
  font-size: 24px;
  line-height: 1.25;
  font-family: "nta", Arial, sans-serif;
  font-weight: 700;
  padding: 10px 20px;

  &:first-of-type {
    margin-left: 10px;
  }
}

.tab--active {
  border: 1px solid $border-colour;
  background: white;
  border-bottom: 0;
}

.tab--active {
  &, &:hover, &:visited {
    color: $text-colour;
    text-decoration: none;
    pointer-events: none;
  }
}

.my-cases-view {
  display: none;
}





// opening hours table
.opening-hours th, .opening-hours td {
  padding: 0;
  border: 0;
}