{% extends "layout.html" %}

{% block page_title %}
  Management overview
{% endblock %}

{% block content %}

<main id="content" role="main">
  {% include "includes/phase_banner_alpha.html" %}
  <div class="grid-row">

    <div class="column-two-thirds">
      <h1 class="heading-large" style="margin: 30px 0;">
        Management overview
      </h1>
    </div>

  </div>

  <!-- <div class="grid-row">

    <div class="column-full">
      <h2 class="heading-medium" style="margin-top: 0">
          Case overview in the last 7 days
      </h2>
    </div>

    <div class="column-one-quarter">
      <div class="data">
        <span class="data-item bold-xlarge">124</span>
        <span class="data-item font-xsmall">granted</span>
      </div>
    </div>

    <div class="column-one-quarter">
      <div class="data">
        <span class="data-item bold-xlarge">5</span>
        <span class="data-item font-xsmall">rejected</span>
      </div>
    </div>

    <div class="column-one-quarter">
      <div class="data">
        <span class="data-item bold-xlarge">6</span>
        <span class="data-item font-xsmall">refused</span>
      </div>
    </div>

    <div class="column-one-quarter">
      <div class="data">
        <span class="data-item bold-xlarge">12</span>
        <span class="data-item font-xsmall">currently on hold</span>
      </div>
    </div>

  </div> -->

  <div class="grid-row">

    <div class="column-full">
      <h2 class="heading-medium" style="margin-top: 0">
          8 week target
      </h2>
    </div>

    <div class="column-one-quarter">
      <div class="data">
        <span class="data-item bold-xlarge">92%</span>
        <span class="data-item font-xsmall">met target<sup>*</sup></span>
      </div>
    </div>

    <div class="column-one-quarter">
      <div class="data">
        <span class="data-item bold-xlarge">8%</span>
        <span class="data-item font-xsmall">missed taget</span>
      </div>
    </div>

    <div class="column-one-quarter">
      <div class="data">
        <span class="data-item bold-xlarge">49</span>
        <span class="data-item font-xsmall">cases not counting towards service standard</span>
      </div>
    </div>

    <div class="column-full">
      <small class="font-xsmall">* excluding apps not counting towards service standard</small>
    </div>

  </div>

  <div class="grid-row">
    <div class="column-full">

      <h2 class="heading-medium">
          Cases waiting for review
      </h2>

      <table class="cases">
        <thead>
          <tr>
            <th>URN</th>
            <th class="my-cases-view">Company name</th>
            <!-- <th>Date submitted</th> -->
            <th>SLA</th>
            <th>Status</th>
            <th class="all-cases-view">Owner</th>
            <th class="my-cases-view">Due in</th>
            <th class="">Action</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td><a href="/caseworker?compName=ACME Corporation&urn=603600002A&overview&status=Ready">603600002A</a></td>
            <td class="my-cases-view">ACME Corporation</td>
            <!-- <td>01/01/2016</td> -->
            <td class="date" data-days="54"></td>
            <td>Ready</td>
            <td class="all-cases-view">-</td>
            <td class=""><a class="button" href="/caseworker?compName=ACME Corporation&urn=603600002A&status=Ready" role="button">Review</a></td>
          </tr>
          <tr>
            <td><a href="/caseworker?compName=Hooli&urn=603600002B&overview&status=Ready">603600002B</a></td>
            <td class="my-cases-view">Hooli</td>
            <!-- <td>01/01/2016</td> -->
            <td class="date" data-days="56"></td>
            <td>Ready</td>
            <td class="all-cases-view">-</td>
            <td class=""><a class="button" href="/caseworker?compName=Hooli&urn=603600002B&status=Ready" role="button">Review</a></td>
          </tr>
          <tr>
            <td><a href="/caseworker?compName=Vehement Capital Partners&urn=603600002C&overview&status=Ready">603600002C</a></td>
            <td class="my-cases-view">Vehement Capital Partners</td>
            <!-- <td>01/01/2016</td> -->
            <td class="date" data-days="40"></td>
            <td>Ready</td>
            <td class="all-cases-view">-</td>
            <td class=""><a class="button" href="/caseworker?compName=603600002C&urn=603600002C&status=Ready" role="button">Review</a></td>
          </tr>
          <tr>
            <td><a href="/caseworker?compName=Wonka Industries&urn=603600002B&overview&status=Ready">603600002B</a></td>
            <td class="my-cases-view">Wonka Industries</td>
            <!-- <td>01/01/2016</td> -->
            <td class="date" data-days="40"></td>
            <td>Ready</td>
            <td class="all-cases-view">-</td>
            <td class=""><a class="button" href="/caseworker?compName=Wonka Industries&urn=603600002B&status=Ready" role="button">Review</a></td>
          </tr>
          <tr>
            <td><a href="/caseworker?compName=Stark Industries&urn=603600002C&overview&status=Ready">603600002C</a></td>
            <td class="my-cases-view">Stark Industries</td>
            <!-- <td>01/01/2016</td> -->
            <td class="date" data-days="41"></td>
            <td>Ready</td>
            <td class="all-cases-view">-</td>
            <td class=""><a class="button" href="/caseworker?compName=Stark Industries&urn=603600002B&status=Ready" role="button">Review</a></td>
          </tr>
          <tr>
            <td><a href="/caseworker?compName=Ollivanders Wand Shop&urn=603600002B&overview&status=Ready">603600002B</a></td>
            <td class="my-cases-view">Ollivander&rsquo;s Wand Shop</td>
            <!-- <td>01/01/2016</td> -->
            <td class="date" data-days="42"></td>
            <td>Ready</td>
            <td class="all-cases-view">-</td>
            <td class=""><a class="button" href="/caseworker?compName=Ollivanders Wand Shop&urn=603600002B&status=Ready" role="button">Review</a></td>
          </tr>
          <tr>
            <td><a href="/caseworker?compName=Gekko and Co&urn=603600002C&overview&status=Ready">603600002C</a></td>
            <td class="my-cases-view">Gekko &amp; Co</td>
            <!-- <td>01/01/2016</td> -->
            <td class="date" data-days="42"></td>
            <td>Ready</td>
            <td class="all-cases-view">-</td>
            <td class=""><a class="button" href="/caseworker?compName=Gekko and Co&urn=603600002B&status=Ready" role="button">Review</a></td>
          </tr>
          <tr>
            <td><a href="/caseworker?compName=Wayne Enterprises&urn=603600002B&overview&status=Ready">603600002B</a></td>
            <td class="my-cases-view">Wayne Enterprises</td>
            <!-- <td>01/01/2016</td> -->
            <td class="date" data-days="42"></td>
            <td>Ready</td>
            <td class="all-cases-view">-</td>
            <td class=""><a class="button" href="/caseworker?compName=Wayne Enterprises&urn=603600002B&status=Ready" role="button">Review</a></td>
          </tr>
          <tr>
            <td><a href="/caseworker?compName=Cyberdyne Systems&urn=603600002B&overview&status=Ready">603600002C</a></td>
            <td class="my-cases-view">Cyberdyne Systems</td>
            <!-- <td>01/01/2016</td> -->
            <td class="date" data-days="44"></td>
            <td>Ready</td>
            <td class="all-cases-view">-</td>
            <td class=""><a class="button" href="/caseworker?compName=Cyberdyne Systems&urn=603600002B&status=Ready" role="button">Review</a></td>
          </tr>
          <tr>
            <td><a href="/caseworker?compName=Genco Pura Olive Oil Company&urn=603600002B&overview&status=Ready">603600002B</a></td>
            <td class="my-cases-view">Genco Pura Olive Oil Company</td>
            <!-- <td>01/01/2016</td> -->
            <td class="date" data-days="45"></td>
            <td>Ready</td>
            <td class="all-cases-view">-</td>
            <td class=""><a class="button" href="/caseworker?compName=Genco Pura Olive Oil Company&urn=603600002B&status=Ready" role="button">Review</a></td>
          </tr>
          <tr>
            <td><a href="/caseworker-linear-questions?compName=Duff Beer&urn=603600002B&overview&status=Ready">603600002C</a></td>
            <td class="my-cases-view">Duff Beer</td>
            <!-- <td>01/01/2016</td> -->
            <td class="date" data-days="45"></td>
            <td>Ready</td>
            <td class="all-cases-view">- <span class="visually-hidden">alpha</span></td>
            <td class=""><a class="button" href="/caseworker-linear-questions?compName=Duff Beer&urn=603600002B&status=Ready" role="button">Review</a></td>
          </tr>
          <tr>
            <td><a href="/caseworker?compName=Bubba Gump&urn=603600002B&overview&status=Ready">603600002B</a></td>
            <td class="my-cases-view">Bubba Gump</td>
            <!-- <td>01/01/2016</td> -->
            <td class="date" data-days="46"></td>
            <td>Ready</td>
            <td class="all-cases-view">-</td>
            <td class=""><a class="button" href="/caseworker?compName=Bubba Gump&urn=603600002B&status=Ready" role="button">Review</a></td>
          </tr>
          <tr>
            <td><a href="/caseworker?compName=Sterling Cooper&urn=603600002B&overview&status=Ready">603600002C</a></td>
            <td class="my-cases-view">Sterling Cooper</td>
            <!-- <td>01/01/2016</td> -->
            <td class="date" data-days="46"></td>
            <td>Ready</td>
            <td class="all-cases-view">-</td>
            <td class=""><a class="button" href="/caseworker?compName=Sterling Cooper&urn=603600002B&status=Ready" role="button">Review</a></td>
          </tr>
          <tr>
            <td><a href="/caseworker?compName=CHOAM&urn=603600002B&overview&status=Ready">603600002B</a></td>
            <td class="my-cases-view">CHOAM</td>
            <!-- <td>01/01/2016</td> -->
            <td class="date" data-days="47"></td>
            <td>Ready</td>
            <td class="all-cases-view">-</td>
            <td class=""><a class="button" href="/caseworker?compName=CHOAM&urn=603600002B&status=Ready" role="button">Review</a></td>
          </tr>
          <tr>
            <td><a href="/caseworker?compName=Sirius Cybernetics Corp&urn=603600002B&overview&status=Ready">603600002C</a></td>
            <td class="my-cases-view">Sirius Cybernetics Corp.</td>
            <!-- <td>01/01/2016</td> -->
            <td class="date" data-days="47"></td>
            <td>Ready</td>
            <td class="all-cases-view">-</td>
            <td class=""><a class="button" href="/caseworker?compName=Sirius Cybernetics Corp&urn=603600002B&status=Ready" role="button">Review</a></td>
          </tr>
          <tr>
            <td><a href="/caseworker?compName=MomCorp&urn=603600002B&overview&status=Ready">603600002B</a></td>
            <td class="my-cases-view">MomCorp</td>
            <!-- <td>01/01/2016</td> -->
            <td class="date" data-days="47"></td>
            <td>Ready</td>
            <td class="all-cases-view">-</td>
            <td class=""><a class="button" href="/caseworker?compName=MomCorp&urn=603600002B&status=Ready" role="button">Review</a></td>
          </tr>
          <tr>
            <td><a href="/caseworker?compName=Tyrell Corp&urn=603600002B&overview&status=Ready">603600002C</a></td>
            <td class="my-cases-view">Tyrell Corp.</td>
            <!-- <td>01/01/2016</td> -->
            <td class="date" data-days="48"></td>
            <td>Ready</td>
            <td class="all-cases-view">-</td>
            <td class=""><a class="button" href="/caseworker?compName=Tyrell Corp&urn=603600002B&status=Ready" role="button">Review</a></td>
          </tr>
          <tr>
            <td><a href="/caseworker?compName=Nakatomi Trading Corp&urn=603600002B&overview&status=Ready">603600002B</a></td>
            <td class="my-cases-view">Nakatomi Trading Corp.</td>
            <!-- <td>01/01/2016</td> -->
            <td class="date" data-days="48"></td>
            <td>Ready</td>
            <td class="all-cases-view">-</td>
            <td class=""><a class="button" href="/caseworker?compName=Nakatomi Trading Corp&urn=603600002B&status=Ready" role="button">Review</a></td>
          </tr>
          <tr>
            <td><a href="/caseworker?compName=Spacely Space Sprockets&urn=603600002B&overview&status=Ready">603600002C</a></td>
            <td class="my-cases-view">Spacely Space Sprockets</td>
            <!-- <td>01/01/2016</td> -->
            <td class="date" data-days="48"></td>
            <td>Ready</td>
            <td class="all-cases-view">-</td>
            <td class=""><a class="button" href="/caseworker?compName=Spacely Space Sprockets&urn=603600002B&status=Ready" role="button">Review</a></td>
          </tr>
          <tr>
            <td><a href="/caseworker?compName=Oceanic Airlines&urn=603600002B&overview&status=Ready">603600002B</a></td>
            <td class="my-cases-view">Oceanic Airlines</td>
            <!-- <td>01/01/2016</td> -->
            <td class="date" data-days="48"></td>
            <td>Ready</td>
            <td class="all-cases-view">-</td>
            <td class=""><a class="button" href="/caseworker?compName=Oceanic Airlines&urn=603600002B&status=Ready" role="button">Review</a></td>
          </tr>
          <tr>
            <td><a href="/caseworker?compName=Buy n Large&urn=603600002B&overview&status=Ready">603600002C</a></td>
            <td class="my-cases-view">Buy n Large</td>
            <!-- <td>01/01/2016</td> -->
            <td class="date" data-days="48"></td>
            <td>Ready</td>
            <td class="all-cases-view">-</td>
            <td class=""><a class="button" href="/caseworker?compName=Buy n Large&urn=603600002B&status=Ready" role="button">Review</a></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

</main>

{% endblock %}
