{% extends "layout.html" %}

{% block page_title %}
  Management overview
{% endblock %}

{% block content %}

<main id="content" role="main">
  {% include "includes/phase_banner_alpha.html" %}
  <div class="grid-row">

    <div class="column-two-thirds">
      <h1 class="heading-large" style="margin: 30px 0;">
        Management overview
      </h1>
    </div>

  </div>

  <div class="grid-row">
    <div class="column-one-quarter">
      <ul class="leftnav">
        <li>
          <a href="#0" class="leftnavlinks targets active" data-target="targets">
            Dashboard
          </a>
        </li>
        <li>
          <a href="#0" class="leftnavlinks ao-details" data-target="review">
            Review cases
          </a>
        </li>
        <li>
          <a href="#0" class="leftnavlinks other-user" data-target="manage-users">
            Manage users
          </a>
        </li>
      </ul>
    </div>

    <div class="column-three-quarters">

      <div id="targets" class="leftnavcontent" style="display: block">
        <div class="grid-row">

          <div class="column-full">
            <h2 class="heading-medium" style="margin-top: 0">
                8 week target
            </h2>
          </div>

          <div class="column-one-quarter">
            <div class="data">
              <span class="data-item bold-xlarge">92%</span>
              <span class="data-item font-xsmall">met target<sup>*</sup></span>
            </div>
          </div>

          <div class="column-one-quarter">
            <div class="data">
              <span class="data-item bold-xlarge">8%</span>
              <span class="data-item font-xsmall">missed taget</span>
            </div>
          </div>

          <div class="column-one-quarter">
            <div class="data">
              <span class="data-item bold-xlarge">49</span>
              <span class="data-item font-xsmall">cases not counting towards service standard</span>
            </div>
          </div>

          <div class="column-full">
            <small class="font-xsmall">* excluding apps not counting towards service standard</small>
          </div>

            <div class="column-full">
              <h2 class="heading-medium" style="margin-top: 0">
                  Case overview in the last 7 days
              </h2>
            </div>

            <div class="column-one-quarter">
              <div class="data">
                <span class="data-item bold-xlarge">124</span>
                <span class="data-item font-xsmall">granted</span>
              </div>
            </div>

            <div class="column-one-quarter">
              <div class="data">
                <span class="data-item bold-xlarge">5</span>
                <span class="data-item font-xsmall">rejected</span>
              </div>
            </div>

            <div class="column-one-quarter">
              <div class="data">
                <span class="data-item bold-xlarge">6</span>
                <span class="data-item font-xsmall">refused</span>
              </div>
            </div>

            <div class="column-one-quarter">
              <div class="data">
                <span class="data-item bold-xlarge">12</span>
                <span class="data-item font-xsmall">currently on hold</span>
              </div>
            </div>

        </div>
      </div>

      <div id="review" class="leftnavcontent">

        <form action="#0" method="get" class="form">

          <div class="form-group">
            <label for="case-search" class="form-label">Search cases using reference</label>
            <!-- <p class="form-hint">URN or Company name</p> -->
            <input type="text" class="form-control js-case-search-query" id="case-search" name="case-search" style="height: 40px; padding: 6px 10px;">
            <input class="button js-case-search" type="submit" value="Search">
          </div>

        </form>

        <table class="cases">
          <thead>
            <tr>
              <th>Reference</th>
              <th class="my-cases-view">Company name</th>
              <!-- <th>Date submitted</th> -->
              <th>SLA</th>
              <th>Status</th>
              <th class="all-cases-view">Casewoker</th>
              <th class="">Action</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td><a href="/caseworker?compName=ACME Corporation&urn=1701-0000-0010-0007&overview&status=Granted">1701-0000-0010-0007</a></td>
              <td class="my-cases-view">ACME Corporation</td>
              <!-- <td>01/01/2016</td> -->
              <td class="date" data-days="54"></td>
              <td>Granted</td>
              <td class="all-cases-view">Joe Bloggs</td>
              <td class=""><a class="button" href="/caseworker?compName=ACME Corporation&urn=1701-0000-0010-0007&status=Granted" role="button">Review</a></td>
            </tr>
            <tr>
              <td><a href="/caseworker?compName=Hooli&urn=1701-0000-0010-0307&overview&status=Refused">1701-0000-0010-0307</a></td>
              <td class="my-cases-view">Hooli</td>
              <!-- <td>01/01/2016</td> -->
              <td class="date" data-days="56"></td>
              <td>Refused</td>
              <td class="all-cases-view">Joe Bloggs</td>
              <td class=""><a class="button" href="/caseworker?compName=Hooli&urn=1701-0000-0010-0307&status=Refused" role="button">Review</a></td>
            </tr>
            <tr>
              <td><a href="/caseworker?compName=Vehement Capital Partners&urn=1701-0000-0010-0067&overview&status=Granted">1701-0000-0010-0067</a></td>
              <td class="my-cases-view">Vehement Capital Partners</td>
              <!-- <td>01/01/2016</td> -->
              <td class="date" data-days="40"></td>
              <td>Granted</td>
              <td class="all-cases-view">Jane Doe</td>
              <td class=""><a class="button" href="/caseworker?compName=1701-0000-0010-0067&urn=1701-0000-0010-0067&status=Granted" role="button">Review</a></td>
            </tr>
            <tr>
              <td><a href="/caseworker?compName=Wonka Industries&urn=1701-0000-0010-0307&overview&status=Rejected">1701-0000-0010-0307</a></td>
              <td class="my-cases-view">Wonka Industries</td>
              <!-- <td>01/01/2016</td> -->
              <td class="date" data-days="40"></td>
              <td>Rejected</td>
              <td class="all-cases-view">Jane Doe</td>
              <td class=""><a class="button" href="/caseworker?compName=Wonka Industries&urn=1701-0000-0010-0307&status=Rejected" role="button">Review</a></td>
            </tr>
            <tr>
              <td><a href="/caseworker?compName=Stark Industries&urn=1701-0000-0010-0067&overview&status=Granted">1701-0000-0010-0067</a></td>
              <td class="my-cases-view">Stark Industries</td>
              <!-- <td>01/01/2016</td> -->
              <td class="date" data-days="41"></td>
              <td>Granted</td>
              <td class="all-cases-view">Joe Bloggs</td>
              <td class=""><a class="button" href="/caseworker?compName=Stark Industries&urn=1701-0000-0010-0307&status=Granted" role="button">Review</a></td>
            </tr>
            <tr>
              <td><a href="/caseworker?compName=Ollivanders Wand Shop&urn=1701-0000-0010-0307&overview&status=Refused">1701-0000-0010-0307</a></td>
              <td class="my-cases-view">Ollivander&rsquo;s Wand Shop</td>
              <!-- <td>01/01/2016</td> -->
              <td class="date" data-days="42"></td>
              <td>Refused</td>
              <td class="all-cases-view">Jane Doe</td>
              <td class=""><a class="button" href="/caseworker?compName=Ollivanders Wand Shop&urn=1701-0000-0010-0307&status=Refused" role="button">Review</a></td>
            </tr>
          </tbody>
        </table>

      </div>

      <div id="manage-users" class="leftnavcontent">

        <form action="#0" method="get" class="form">

          <div class="form-group">
            <label for="user-search" class="form-label">Search for user</label>
            <!-- <p class="form-hint">URN or Company name</p> -->
            <input type="text" class="form-control js-user-search-query" id="user-search" name="user-search" style="height: 40px; padding: 6px 10px;">
            <input class="button js-user-search" type="submit" value="Search">
          </div>

        </form>

        <table class="users">
          <thead>
            <tr>
              <th>Name</th>
              <th>Access</th>
              <th>Status</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Joe Bloggs</td>
              <td>Manager</td>
              <td>Active</td>
              <td></td>
            </tr>
            <tr>
              <td>Joe Bloggs</td>
              <td>Caseworker</td>
              <td>Active</td>
              <td></td>
            </tr>
            <tr>
              <td>Joe Bloggs</td>
              <td>Read only</td>
              <td>Suspended</td>
              <td></td>
            </tr>
          </tbody>
        </table>

      </div>


    </div>
  </div>

</main>

{% endblock %}
