{% extends "layout.html" %}

{% block page_title %}
  Put case on hold
{% endblock %}

{% block content %}

<main id="content" role="main">
  {% include "includes/phase_banner_alpha.html" %}
  <div class="grid-row">

    <div class="column-full">
      <a onclick="history.go(-1); return false;" href="#0" class="link-back">Back</a>
    </div>

    <div class="column-two-thirds">
      <h1 class="heading-large" style="margin: 30px 0;">
        {{ compName }}
        <small style="font-size: 50%">{{ urn }}</small>
      </h1>

      <table style="margin-bottom: 30px">
        <tr>
          <th>On hold reasons</th>
          <td>
            <ol class="list list-number" style="margin-bottom: 0">
              <li>DWP referral</li>
              <li>Document verification</li>
            </ol>
        </tr>
        <tr>
          <th>Hold review date</th>
          <td class="date" data-days="3"></td>
        </tr>
        <tr>
          <th>Hold notes</th>
          <td>Note about the hold reasons</td>
        </tr>
        <tr>
          <th>1/1/2016 extension</th>
          <td>Note about the hold extension</td>
        </tr>
      </table>
    </div>

  </div>

  <div class="grid-row">
    <div class="column-two-thirds">

      <form action="/application-hold-confirm" method="get" class="form">

        <!-- <h2 class="heading-medium" style="margin-top: 0">
          Do you want to continue caseworking?
        </h2> -->

        <div class="form-group">
          <fieldset class="">

            <label for="caseRetrieve" class="block-label" data-target="case-retrieve">
              <input type="radio" name="retrieve" value="retrieve" id="caseRetrieve">
              Take off hold and continue caseworking
            </label>

            <div class="panel panel-border-narrow js-hidden" id="case-retrieve">
              <div class="form-group">
                <label class="form-label-bold" for="retrieveOutcome">Outcome of on hold reasons</label>
                <textarea type="text" class="form-control" id="retrieveOutcome" name="retrieveOutcome" rows="6"></textarea>
              </div>
            </div>



            <label for="caseExtend" class="block-label" data-target="case-extend">
              <input type="radio" name="retrieve" value="extend" id="caseExtend">
              Extend hold
            </label>


            <div class="panel panel-border-narrow js-hidden" id="case-extend">

              <h2 class="form-label-bold">
                What date do you want to extend to?
              </h2>

               <div class="form-group">
                <fieldset>

                  <div class="form-date">

                    <div class="form-group form-group-day">
                      <label for="hold-due-day">Day</label>
                      <input class="form-control" id="hold-due-day" type="number" pattern="[0-9]*" min="0" max="31">
                    </div>

                    <div class="form-group form-group-month">
                      <label for="hold-due-month">Month</label>
                      <input class="form-control" id="hold-due-month" type="number" pattern="[0-9]*" min="0" max="12">
                    </div>

                    <div class="form-group form-group-year">
                      <label for="hold-due-year">Year</label>
                      <input class="form-control" id="hold-due-year" type="number" pattern="[0-9]*" min="0" >
                    </div>
                  </div>

                </fieldset>
              </div>

              <div class="form-group">
                <label class="form-label-bold" for="extend">Reason for extension</label>
                <textarea type="text" class="form-control" id="extend" name="extend" rows="6"></textarea>
              </div>

            </div>

          </fieldset>
        </div>


        <input type="hidden" name="urn" value="{{urn}}" />
        <input type="hidden" name="compName" value="{{compName}}" />

        <div class="form-group">
          <input type="submit" class="button" value="Continue">
        </div>

      </form>

    </div>
  </div>

</main>

{% endblock %}
