{% extends "layout.html" %}

{% block page_title %}
  Action case
{% endblock %}

{% block content %}

<main id="content" role="main">

  <div class="grid-row">

    <div class="column-full">
      <a onclick="history.go(-1); return false;" href="#0" class="link-back">Back</a>
    </div>

    <div class="column-two-thirds">
      <h1 class="heading-xlarge" style="margin-bottom: 0;">
        Action case
      </h1>
    </div>

    <div class="column-two-thirds">
      <div class="panel panel-border-wide">
        <h2 class="heading-medium" style="margin-top: 0;">
          {{ compName }}
          <br>
          <small>URN{{ urn }}</small>
        </h2>
      </div>
    </div>

  </div>

  <div class="grid-row">
    <div class="column-two-thirds">

      <form action="#0" method="get" class="form">

        <h2 class="heading-medium" style="margin-top: 0">
          What action would you like to take?
        </h2>

        <div class="form-group">
          <fieldset>
            <legend class="visuallyhidden">What action would you like to take?</legend>

            <label for="doc1" class="block-label">
              <input type="radio" name="actions" value="doc1" id="doc1">
              Request visit
            </label>

            <label for="doc2" class="block-label">
              <input type="radio" name="actions" value="doc2" id="doc2">
              Mark as on hold
            </label>

          </fieldset>
        </div>

        <div class="form-group">
          <input type="submit" class="button" value="Continue">
        </div>

      </form>

    </div>
  </div>

</main>

{% endblock %}
