{% extends "layout.html" %}

{% block page_title %}
  Caseworking
{% endblock %}

{% block content %}

<main id="content" role="main">
  {% include "includes/phase_banner_alpha.html" %}
  <div class="grid-row">

    <!-- <div class="column-full">
      <a onclick="history.go(-1); return false;" href="#0" class="link-back">Back</a>
    </div> -->

    <div class="column-full">
      <h1 class="heading-xlarge" style="margin-bottom: 0;">
        {{ compName }}
      </h1>

      <div class="panel panel-border-wide">

        <div class="grid-row">
          <div class="column-two-thirds">
            <!-- <h2 class="heading-medium" style="margin: 0;">
              {{ compName }}
            </h2> -->
            <ul class="list">
              <li>URN: {{ urn }}</li>
              <li>Status: {{ status }}</li>
            </ul>
          </div>
          <div class="column-one-third" style="text-align: right;">
            <a class="button overview" href="#0" style="display: none">Casework</a>
            <a class="button action" onclick="window.location='/caseworker-action'+window.location.search;" style="display: none">Action case</a>
          </div>

        </div>

      </div>

    </div>
  </div>

  <div class="grid-row">

    <div class="column-one-third">
      <ul class="leftnav">
        <li>
          <a href="#0" class="leftnavlinks business-details active" data-target="business-details">
            Business details
            <span class="tag tag--complete" style="display: none;">Complete</span>
          </a>
        </li>
        <li>
          <a href="#0" class="leftnavlinks ao-details" data-target="ao-details">
            AO details
            <span class="tag tag--complete" style="display: none;">Complete</span>
          </a>
        </li>
        <li>
          <a href="#0" class="leftnavlinks other-user" data-target="other-user">
            Other user details
            <span class="tag tag--complete" style="display: none;">Complete</span>
          </a>
        </li>
        <li>
          <a href="#0" class="leftnavlinks rep-details" data-target="rep-details">
            Representative details
            <!-- <span class="tag tag--risk">Risk</span> -->
            <span class="tag tag--complete" style="display: none;">Complete</span>
          </a>
        </li>
        <li>
          <a href="#0" class="leftnavlinks vacancy-details" data-target="vacancy-details">
            Vacancy details
            <span class="tag tag--complete" style="display: none;">Complete</span>
          </a>
        </li>
        <li>
          <a href="#0" class="leftnavlinks application-decision" data-target="application-decision">
            Application decision
            <span class="tag tag--complete" style="display: none;">Complete</span>
          </a>
        </li>
      </ul>
    </div> <!-- /Tab menu -->

    <div class="column-two-thirds">

      <div id="business-details" class="leftnavcontent" style="display: block">
        <form>

          <h2 class="heading-large" style="margin-top: 0">
            Business details
          </h2>

          <table style="margin-bottom: 30px">
            <!-- <caption style="text-align: left">
              Business details submitted
            </caption> -->
            <tr>
              <th>Company name</th>
              <td>{{ compName }}</td>
            </tr>
            <tr>
              <th>Companies House number</th>
              <td>
                <a href="https://beta.companieshouse.gov.uk/company/06232576" title="View on Companies House" target="_blank" rel="external">06232576</a>
              </td>
            </tr>
            <tr>
              <th>Primary address</th>
              <td><a href="http://maps.google.com/?q=123 West Street Sheffield S1 2AB" title="Search on Google Maps" target="_blank" rel="external">123 West Street<br>Sheffield<br>S1 2AB</a></td>
            </tr>
            <tr>
              <td colspan="2">
                <details role="group" style="margin: 0; padding: 0; border: 0; ">

                  <summary role="button" aria-controls="details-content-address" aria-expanded="false">
                    <span class="summary">Additional address</span>
                  </summary>

                  <div class="panel panel-border-narrow" id="details-content-address" aria-hidden="true">
                    <table>
                      <tr>
                        <td>
                          <a href="http://maps.google.com/?q=164 Timperley Court Timperley Gardens Redhill RH1 2AU" title="Search on Google Maps" target="_blank" rel="external">164 Timperley Court<br>Redhill<br>RH1 2AU</a>
                        </td>
                      </tr>
                      <tr>
                        <td>
                          <a href="http://maps.google.com/?q=1107 Arnside Road Nottingham NG5 5HH" title="Search on Google Maps" target="_blank" rel="external">1107 Arnside Road<br>Nottingham<br>NG5 5HH</a>
                        </td>
                      </tr>
                      <tr>
                        <td>
                          <a href="http://maps.google.com/?q=1170 Armscroft Place Gloucester GL2 0SP" title="Search on Google Maps" target="_blank" rel="external">1170 Armscroft Place<br>Gloucester<br>GL2 0SP</a>
                        </td>
                      </tr>
                    </table>
                  </div>

                </details>
              </td>
            </tr>
            <!-- <tr>
              <th>Company director</th>
              <td>Rod Runner</td>
            </tr>
            <tr>
              <th>Second company director</th>
              <td>William E. Coyote</td>
            </tr> -->
            <!-- <tr>
              <th>Company type</th>
              <td>Private limited company</td>
            </tr> -->
            <!-- <tr>
              <th>Incorporated in the last 18 months</th>
              <td>No</td>
            </tr> -->
            <tr>
              <th>Nature of business (SIC)</th>
              <td>Manufacture of medical and dental instruments and supplies <small>(32500)</small></td>
            </tr>
            <tr>
              <th>Regulatory body and registration number</th>
              <td>Regulator name <small>(123456789)</small></td>
            </tr>
            <!-- <tr>
              <th>Charitable status</th>
              <td>Registered charity</td>
            </tr> -->
          </table>

          <!-- <details role="group">

            <summary role="button" aria-controls="details-content-0" aria-expanded="false">
              <span class="summary">Previous applications</span>
            </summary>

            <div class="panel panel-border-narrow" id="details-content-0" aria-hidden="true">
              <h3 class="heading-medium">ACME Corporation</h3>
              <table>
                <tr>
                  <th>URN</th>
                  <td><a href="#0">436092851J</a></td>
                </tr>
                <tr>
                  <th>Outcome</th>
                  <td>Rejected</td>
                </tr>
                <tr>
                  <th>Rejection reason</th>
                  <td>Required document not provided, application rejected and refunded.</td>
                </tr>
                <tr>
                  <th>Rejection date</th>
                  <td>12/10/2015.</td>
                </tr>
              </table>
            </div>

          </details> -->

          <!-- <details role="group">

            <summary role="button" aria-controls="details-content-0" aria-expanded="false">
              <span class="summary">Likely previous applications</span>
            </summary>

            <div class="panel panel-border-narrow" id="details-content-0" aria-hidden="true">
              <h3 class="heading-medium">ACME Inc.</h3>
              <table>
                <tr>
                  <th>URN</th>
                  <td><a href="#0">128889351B</a></td>
                </tr>
                <tr>
                  <th>Outcome</th>
                  <td>Refused</td>
                </tr>
                <tr>
                  <th>Refusal reason</th>
                  <td>Failed visit due to insufficient processes in place to monitor sponsored applicant.</td>

                </tr>
                <tr>
                  <th>Refusal date</th>
                  <td>12/08/2015.</td>
                </tr>
              </table>
            </div>

            <div class="panel panel-border-narrow" id="details-content-0" aria-hidden="true">
              <h3 class="heading-medium">Smith and Co.</h3>
              <table>
                <tr>
                  <th>URN</th>
                  <td><a href="#0">238834351Z</a></td>
                </tr>
                <tr>
                  <th>Outcome</th>
                  <td>Refused</td>
                </tr>
                <tr>
                  <th>Refusal reason</th>
                  <td>Insufficient evidence of company trading, address listed did not appear to be a valid company.</td>
                </tr>
                <tr>
                  <th>Refusal date</th>
                  <td>12/08/2012.</td>
                </tr>
              </table>
            </div>

          </details> -->

          <!-- <details role="group">

            <summary role="button" aria-controls="details-content-0" aria-expanded="false">
              <span class="summary">Other applications from the same postcode</span>
            </summary>

            <div class="panel panel-border-narrow" id="details-content-0" aria-hidden="true">
              <h3 class="heading-medium">Bob&rsquo;s Bits</h3>
              <table>
                <tr>
                  <th>URN</th>
                  <td><a href="#0">288715309R</a></td>
                </tr>
                <tr>
                  <th>Outcome</th>
                  <td>Rejected</td>
                </tr>
                <tr>
                  <th>Rejection reason</th>
                  <td>Fee underpaid.</td>

                </tr>
                <tr>
                  <th>Rejection date</th>
                  <td>31/07/2015.</td>
                </tr>
              </table>
            </div>

            <div class="panel panel-border-narrow" id="details-content-0" aria-hidden="true">
              <h3 class="heading-medium">Flying Pizza</h3>
              <table>
                <tr>
                  <th>URN</th>
                  <td><a href="#0">238834351Z</a></td>
                </tr>
                <tr>
                  <th>Outcome</th>
                  <td>Approved</td>
                </tr>
                <tr>
                  <th>Approval date</th>
                  <td>15/04/2010.</td>
                </tr>
              </table>
            </div>

          </details> -->

          <h4 class="heading-small">
            Are the details listed correct according to Companies House?
            <span class="form-hint">Company is active, date of incorporation, and AO is listed.</span>
          </h4>

          <div class="form-group">
            <fieldset class="inline">
              <legend class="visuallyhidden">Are the details listed correct according to Companies House?</legend>

              <label for="companyYes" class="block-label">
                <input type="radio" name="company" value="true" id="companyYes">
                Yes
              </label>

              <label for="companyNo" class="block-label" data-target="company-details">
                <input type="radio" name="company" value="false" id="companyNo">
                No
              </label>

              <div class="panel panel-border-narrow js-hidden" id="company-details">
                <div class="form-group">
                  <label class="form-label-bold" for="companyDetails">Details</label>
                  <textarea type="text" class="form-control" id="companyDetails" name="companyDetails" rows="6"></textarea>
                </div>
              </div>

            </fieldset>
          </div>

          <h4 class="heading-small">
            Is the regulatory registration correct?
            <span class="form-hint">Provided details are correct and/or any registrations missing.</span>
          </h4>

          <div class="form-group">
            <fieldset class="inline">
              <legend class="visuallyhidden">Is the regulatory registration correct?</legend>

              <label for="sector_regYes" class="block-label">
                <input type="radio" name="sector_reg" value="true" id="sector_regYes">
                Yes
              </label>

              <label for="sector_regNo" class="block-label" data-target="sector_reg-details">
                <input type="radio" name="sector_reg" value="false" id="sector_regNo">
                No
              </label>

              <div class="panel panel-border-narrow js-hidden" id="sector_reg-details">
                <div class="form-group">
                  <label class="form-label-bold" for="sector_regDetails">Details</label>
                  <textarea type="text" class="form-control" id="sector_regDetails" name="sector_regDetails" rows="6"></textarea>
                </div>
              </div>

            </fieldset>
          </div>

          <h4 class="heading-small">
            Is there any evidence of previous non-compliance in the last 5 years?
            <span class="form-hint">Against the current company name or any other previous registrations.</span>
          </h4>

          <div class="form-group">
            <fieldset class="inline">
              <legend class="visuallyhidden">Is there any evidence of previous non-compliance in the last 5 years?</legend>

              <label for="spon_histYes" class="block-label" data-target="spon_hist-details">
                <input type="radio" name="spon_hist" value="true" id="spon_histYes">
                Yes
              </label>

              <label for="spon_histNo" class="block-label">
                <input type="radio" name="spon_hist" value="false" id="spon_histNo">
                No
              </label>

              <div class="panel panel-border-narrow js-hidden" id="spon_hist-details">
                <div class="form-group">
                  <label class="form-label-bold" for="spon_histDetails">Details</label>
                  <textarea type="text" class="form-control" id="spon_histDetails" name="spon_histDetails" rows="6"></textarea>
                </div>
              </div>

            </fieldset>
          </div>

          <h4 class="heading-small">
            Are there any issues in Athena?
          </h4>

          <div class="form-group">
            <fieldset class="inline">
              <legend class="visuallyhidden">Are there any issues in Athena?</legend>

              <label for="athenaYes" class="block-label" data-target="athena-details">
                <input type="radio" name="athena" value="true" id="athenaYes">
                Yes
              </label>

              <label for="athenaNo" class="block-label">
                <input type="radio" name="athena" value="false" id="athenaNo">
                No
              </label>

              <div class="panel panel-border-narrow js-hidden" id="athena-details">
                <div class="form-group">
                  <label class="form-label-bold" for="athenaDetails">Details</label>
                  <textarea type="text" class="form-control" id="athenaDetails" name="athenaDetails" rows="6"></textarea>
                </div>
              </div>

            </fieldset>
          </div>

          <h4 class="heading-small">
            Are there any civil penalties listed against the company?
          </h4>

          <div class="form-group">
            <fieldset class="inline">
              <legend class="visuallyhidden">Are there any civil penalties listed against the company?</legend>

              <label for="civil_penaltyYes" class="block-label" data-target="civil_penalty-details">
                <input type="radio" name="civil_penalty" value="true" id="civil_penaltyYes">
                Yes
              </label>

              <label for="civil_penaltyNo" class="block-label">
                <input type="radio" name="civil_penalty" value="false" id="civil_penaltyNo">
                No
              </label>

              <div class="panel panel-border-narrow js-hidden" id="civil_penalty-details">
                <div class="form-group">
                  <label class="form-label-bold" for="civil_penaltyDetails">Details</label>
                  <textarea type="text" class="form-control" id="civil_penaltyDetails" name="civil_penaltyDetails" rows="6"></textarea>
                </div>
              </div>

            </fieldset>
          </div>

          <div class="form-group">
            <label class="form-label-bold" for="comp-notes">
              Any other notes or concerns
            </label>
            <textarea type="text" class="form-control" id="comp-notes" name="comp-notes" rows="6"></textarea>
          </div>

          <div class="form-group">
            <a href="#0" class="button leftnavlinks" data-target="ao-details">
              Continue
            </a>
          </div>

        </form>
      </div> <!-- /Business details -->

      <div id="ao-details" class="leftnavcontent">
        <form>

          <h2 class="heading-large" style="margin-top: 0">
            AO details
          </h2>

          <table style="margin-bottom: 30px">
            <!-- <caption style="text-align: left">
              AO&rsquo;s submitted details
            </caption> -->
            <tr>
              <th>Full name</th>
              <td>Delice Junco</td>
            </tr>
            <tr>
              <th>Nationality</th>
              <td>Indian</td>
            </tr>
            <tr>
              <th>DOB</th>
              <td>18/09/1942</td>
            </tr>
            <!-- <tr>
              <th>NI number</th>
              <td>EL271653B</td>
            </tr> -->
            <tr>
              <th>Passport number</th>
              <td>152505696</td>
            </tr>
            <!-- <tr>
              <th>Job title</th>
              <td>Company director</td>
            </tr> -->
            <!-- <tr>
              <th>Work address</th>
              <td><a href="http://maps.google.com/?q=123 West Street Sheffield S1 2AB" title="Search on Google Maps" target="_blank" rel="external">123 West Street<br>Sheffield<br>S1 2AB</a></td>
            </tr> -->
            <tr>
              <th>Contact number</th>
              <td>0114 2301234</td>
            </tr>
            <tr>
              <th>Email address</th>
              <td><a href="mailto:djunco@acme.com">djunco@acme.com</a></td>
            </tr>
          </table>

          <!-- <details role="group">

            <summary role="button" aria-controls="details-content-0" aria-expanded="false">
              <span class="summary">Previous applications</span>
            </summary>

            <div class="panel panel-border-narrow" id="details-content-0" aria-hidden="true">
              <h3 class="heading-medium">Foo Bars ltd</h3>
              <table>
                <tr>
                  <th>URN</th>
                  <td><a href="#0">436092851J</a></td>
                </tr>
                <tr>
                  <th>Outcome</th>
                  <td>Approved</td>
                </tr>
              </table>
            </div>

            <div class="panel panel-border-narrow" id="details-content-0" aria-hidden="true">
              <h3 class="heading-medium">Smith and Co.</h3>
              <table>
                <tr>
                  <th>URN</th>
                  <td><a href="#0">509972207F</a></td>
                </tr>
                <tr>
                  <th>Outcome</th>
                  <td>Refused</td>
                </tr>
                <tr>
                  <th>Refusal reason</th>
                  <td>Vacancy was deemed unnecessary.</td>
                </tr>
              </table>
            </div>

          </details> -->

          <h4 class="heading-small">
            Does the AO have any PNC or WI convictions, are they a disqualified director, or are they a banned user?
          </h4>

          <div class="form-group">
            <fieldset class="inline">
              <legend class="visuallyhidden">Does the AO have any PNC or WI convictions, are they a disqualified director, or are they a banned user?</legend>

              <label for="pncYes" class="block-label" data-target="pnc-details">
                <input type="radio" name="pnc" value="true" id="pncYes">
                Yes
              </label>

              <label for="pncNo" class="block-label">
                <input type="radio" name="pnc" value="false" id="pncNo">
                No
              </label>

              <div class="panel panel-border-narrow js-hidden" id="pnc-details">
                <div class="form-group">
                  <label class="form-label-bold" for="pncDetails">Details</label>
                  <textarea type="text" class="form-control" id="pncDetails" name="pncDetails" rows="6"></textarea>
                </div>
              </div>

            </fieldset>
          </div>

          <h4 class="heading-small">
            Is there any evidence of previous non-compliance in the last 5 years?
            <span class="form-hint">AO has been rejected or refused for this or another company.</span>
          </h4>

          <div class="form-group">
            <fieldset class="inline">
              <legend class="visuallyhidden">Is there any evidence of previous non-compliance in the last 5 years?</legend>

              <label for="historyYes" class="block-label" data-target="history-details">
                <input type="radio" name="history" value="true" id="historyYes">
                Yes
              </label>

              <label for="historyNo" class="block-label">
                <input type="radio" name="history" value="false" id="historyNo">
                No
              </label>

              <div class="panel panel-border-narrow js-hidden" id="history-details">
                <div class="form-group">
                  <label class="form-label-bold" for="historyDetails">Details</label>
                  <textarea type="text" class="form-control" id="historyDetails" name="historyDetails" rows="6"></textarea>
                </div>
              </div>

            </fieldset>
          </div>

          <h4 class="heading-small">
            Does the AO have any insolvency issues?
            <span class="form-hint">
              <a href="https://www.insolvencydirect.bis.gov.uk/eiir/" target="_blank" rel="external">Search the IIR</a> for details.
            </span>
          </h4>

          <div class="form-group">
            <fieldset class="inline">
              <legend class="visuallyhidden">Does the AO have any insolvency issues?</legend>

              <label for="insolvencyYes" class="block-label" data-target="insolvency-details">
                <input type="radio" name="insolvency" value="true" id="insolvencyYes">
                Yes
              </label>

              <label for="insolvencyNo" class="block-label">
                <input type="radio" name="insolvency" value="false" id="insolvencyNo">
                No
              </label>

              <div class="panel panel-border-narrow js-hidden" id="insolvency-details">
                <div class="form-group">
                  <label class="form-label-bold" for="insolvencyDetails">Details</label>
                  <textarea type="text" class="form-control" id="insolvencyDetails" name="insolvencyDetails" rows="6"></textarea>
                </div>
              </div>

            </fieldset>
          </div>

          <!-- <h4 class="heading-small">
            Banned user?
          </h4>

          <div class="form-group">
            <fieldset class="inline">
              <legend class="visuallyhidden">Banned user?</legend>

              <label for="banned_aoYes" class="block-label" data-target="banned_ao-details">
                <input type="radio" name="banned_ao" value="true" id="banned_aoYes">
                Yes
              </label>

              <label for="banned_aoNo" class="block-label">
                <input type="radio" name="banned_ao" value="false" id="banned_aoNo">
                No
              </label>

              <div class="panel panel-border-narrow js-hidden" id="banned_ao-details">
                <div class="form-group">
                  <label class="form-label-bold" for="banned_aoDetails">Details</label>
                  <textarea type="text" class="form-control" id="banned_aoDetails" name="banned_aoDetails" rows="6"></textarea>
                </div>
              </div>

            </fieldset>
          </div>

          <h4 class="heading-small">
            Disqualified director?
          </h4>

          <div class="form-group">
            <fieldset class="inline">
              <legend class="visuallyhidden">Disqualified director?</legend>

              <label for="disqual_directorYes" class="block-label" data-target="disqual_director-details">
                <input type="radio" name="disqual_director" value="true" id="disqual_directorYes">
                Yes
              </label>

              <label for="disqual_directorNo" class="block-label">
                <input type="radio" name="disqual_director" value="false" id="disqual_directorNo">
                No
              </label>

              <div class="panel panel-border-narrow js-hidden" id="disqual_director-details">
                <div class="form-group">
                  <label class="form-label-bold" for="disqual_directorDetails">Details</label>
                  <textarea type="text" class="form-control" id="disqual_directorDetails" name="disqual_directorDetails" rows="6"></textarea>
                </div>
              </div>

            </fieldset>
          </div> -->

          <div class="form-group">
            <label class="form-label-bold" for="ao-notes">
              Any other notes or concerns
            </label>
            <textarea type="text" class="form-control" id="ao-notes" name="ao-notes" rows="6"></textarea>
          </div>

          <div class="form-group">
            <a href="#0" class="button leftnavlinks" data-target="other-user">
              Continue
            </a>
          </div>

        </form>
      </div> <!-- /AO details -->

      <div id="other-user" class="leftnavcontent">
        <form>

          <h2 class="heading-large" style="margin-top: 0">
            Other user details
          </h2>

          <table style="margin-bottom: 30px">
            <!-- <caption style="text-align: left">
              Other user&rsquo;s submitted details
            </caption> -->
            <tr>
              <th>Full name</th>
              <td>Gwendolyn Kensy</td>
            </tr>
            <tr>
              <th>Nationality</th>
              <td>British</td>
            </tr>
            <tr>
              <th>DOB</th>
              <td>03/03/1982</td>
            </tr>
            <!-- <tr>
              <th>NI number</th>
              <td>KY191130C</td>
            </tr> -->
            <!-- <tr>
              <th>Passport number</th>
              <td>838602872</td>
            </tr> -->
            <!-- <tr>
              <th>Job title</th>
              <td>HR manager</td>
            </tr> -->
            <tr>
              <th>Workplace address</th>
              <td><a href="http://maps.google.com/?q=1176 Nelson Street Bamber Bridge PR5 6FY" target="_blank" rel="external">1176 Nelson Street<br>Bamber Bridge<br>PR5 6FY</a></td>
            </tr>
            <tr>
              <th>Contact number</th>
              <td>07413836999</td>
            </tr>
            <tr>
              <th>Email address</th>
              <td><a href="mailto:gkensy@acme.com">gkensy@acme.com</a></td>
            </tr>
          </table>

          <!-- <details role="group">

            <summary role="button" aria-controls="details-content-0" aria-expanded="false">
              <span class="summary">Previous applications</span>
            </summary>

            <div class="panel panel-border-narrow" id="details-content-0" aria-hidden="true">
              <h3 class="heading-medium">Foo Bars ltd</h3>
              <table>
                <tr>
                  <th>URN</th>
                  <td><a href="#0">436092851J</a></td>
                </tr>
                <tr>
                  <th>Outcome</th>
                  <td>Approved</td>
                </tr>
              </table>
            </div>

            <div class="panel panel-border-narrow" id="details-content-0" aria-hidden="true">
              <h3 class="heading-medium">Smith and Co.</h3>
              <table>
                <tr>
                  <th>URN</th>
                  <td><a href="#0">509972207F</a></td>
                </tr>
                <tr>
                  <th>Outcome</th>
                  <td>Refused</td>
                </tr>
                <tr>
                  <th>Refusal reason</th>
                  <td>Vacancy was deemed unnecessary.</td>
                </tr>
              </table>
            </div>

          </details> -->

          <h4 class="heading-small">
            Does the user have any PNC or WI convictions, or are they a banned user?
          </h4>

          <div class="form-group">
            <fieldset class="inline">
              <legend class="visuallyhidden">Does the user have any PNC or WI convictions, or are they a banned user?</legend>

              <label for="other_pncYes" class="block-label" data-target="other_pnc-details">
                <input type="radio" name="other_pnc" value="true" id="other_pncYes">
                Yes
              </label>

              <label for="other_pncNo" class="block-label">
                <input type="radio" name="other_pnc" value="false" id="other_pncNo">
                No
              </label>

              <div class="panel panel-border-narrow js-hidden" id="other_pnc-details">
                <div class="form-group">
                  <label class="form-label-bold" for="other_pncDetails">Details</label>
                  <textarea type="text" class="form-control" id="other_pncDetails" name="other_pncDetails" rows="6"></textarea>
                </div>
              </div>

            </fieldset>
          </div>

          <h4 class="heading-small">
            Is there any evidence of previous non-compliance in the last 5 years?
            <span class="form-hint">User has been rejected or refused for this or another company.</span>
          </h4>

          <div class="form-group">
            <fieldset class="inline">
              <legend class="visuallyhidden">Is there any evidence of previous non-compliance in the last 5 years?</legend>

              <label for="other_historyYes" class="block-label" data-target="other_history-details">
                <input type="radio" name="other_history" value="true" id="other_historyYes">
                Yes
              </label>

              <label for="other_historyNo" class="block-label">
                <input type="radio" name="other_history" value="false" id="other_historyNo">
                No
              </label>

              <div class="panel panel-border-narrow js-hidden" id="other_history-details">
                <div class="form-group">
                  <label class="form-label-bold" for="other_historyDetails">Details</label>
                  <textarea type="text" class="form-control" id="other_historyDetails" name="other_historyDetails" rows="6"></textarea>
                </div>
              </div>

            </fieldset>
          </div>

          <div class="form-group">
            <label class="form-label-bold" for="otheruser-notes">
              Any other notes or concerns
            </label>
            <textarea type="text" class="form-control" id="otheruser-notes" name="otheruser-notes" rows="6"></textarea>
          </div>

          <div class="form-group">
            <a href="#0" class="button leftnavlinks" data-target="rep-details">
              Continue
            </a>
          </div>

        </form>
      </div> <!-- /Other user -->

      <div id="rep-details" class="leftnavcontent">
        <form>

          <h2 class="heading-large" style="margin-top: 0">
            Representative details
          </h2>

          <table style="margin-bottom: 30px">
            <!-- <caption style="text-align: left">
              Representative&rsquo;s submitted details
            </caption> -->
            <tr>
              <th>Access level</th>
              <td>System user</td>
            </tr>
            <tr>
              <th>OISC number</th>
              <td>123456789</td>
            </tr>
            <tr>
              <th>Full name</th>
              <td>Ford Pensinger</td>
            </tr>
            <tr>
              <th>Nationality</th>
              <td>British</td>
            </tr>
            <tr>
              <th>DOB</th>
              <td>23/08/1950</td>
            </tr>
            <tr>
              <th>Company name</th>
              <td>Reps r us</td>
            </tr>
            <tr>
              <th>Company address</th>
              <td><a href="http://maps.google.com/?q=123 West Street Sheffield S1 2AB" target="_blank" rel="external">1195 Longwood Gate<br>Longwood<br>HD3 4US</a></td>
            </tr>
            <tr>
              <th>Contact number</th>
              <td>045 9474 1658</td>
            </tr>
            <tr>
              <th>Email address</th>
              <td><a href="mailto:djunco@acme.com">f.pensinger@reps.com</a></td>
            </tr>
          </table>

          <!-- <details role="group">

            <summary role="button" aria-controls="details-content-0" aria-expanded="false">
              <span class="summary">Previous representations</span>
            </summary>

            <div class="panel panel-border-narrow" id="details-content-0" aria-hidden="true">
              <h3 class="heading-medium">Foo Bars ltd</h3>
              <table>
                <tr>
                  <th>URN</th>
                  <td><a href="#0">436092851J</a></td>
                </tr>
                <tr>
                  <th>Outcome</th>
                  <td>Approved</td>
                </tr>
              </table>
            </div>

            <div class="panel panel-border-narrow" id="details-content-0" aria-hidden="true">
              <h3 class="heading-medium">Smith and Co.</h3>
              <table>
                <tr>
                  <th>URN</th>
                  <td><a href="#0">509972207F</a></td>
                </tr>
                <tr>
                  <th>Outcome</th>
                  <td>Refused</td>
                </tr>
                <tr>
                  <th>Refusal reason</th>
                  <td>Vacancy was deemed unnecessary.</td>
                </tr>
              </table>
            </div>

          </details> -->

          <h4 class="heading-small">
            Are the provided registration details correct?
            <span class="form-hint">Check with the registered body that the company and individual are listed.</span>
          </h4>

          <div class="form-group">
            <fieldset class="inline">
              <legend class="visuallyhidden">Are the provided registration details correct?</legend>

              <label for="rep_oiscYes" class="block-label">
                <input type="radio" name="rep_oisc" value="true" id="rep_oiscYes">
                Yes
              </label>

              <label for="rep_oiscNo" class="block-label" data-target="rep_oisc-details">
                <input type="radio" name="rep_oisc" value="false" id="rep_oiscNo">
                No
              </label>

              <div class="panel panel-border-narrow js-hidden" id="rep_oisc-details">
                <div class="form-group">
                  <label class="form-label-bold" for="rep_oiscDetails">Details</label>
                  <textarea type="text" class="form-control" id="rep_oiscDetails" name="rep_oiscDetails" rows="6"></textarea>
                </div>
              </div>

            </fieldset>
          </div>

          <!-- <h4 class="heading-small">
            Intel summary package?
          </h4>

          <div class="form-group">
            <fieldset class="inline">
              <legend class="visuallyhidden">Intel summary package?</legend>

              <label for="rep_intelYes" class="block-label" data-target="rep_intel-details">
                <input type="radio" name="rep_intel" value="true" id="rep_intelYes">
                Yes
              </label>

              <label for="rep_intelNo" class="block-label">
                <input type="radio" name="rep_intel" value="false" id="rep_intelNo">
                No
              </label>

              <div class="panel panel-border-narrow js-hidden" id="rep_intel-details">
                <div class="form-group">
                  <label class="form-label-bold" for="rep_intelDetails">Details</label>
                  <textarea type="text" class="form-control" id="rep_intelDetails" name="rep_intelDetails" rows="6"></textarea>
                </div>
              </div>

            </fieldset>
          </div> -->

          <h4 class="heading-small">
            Does the user have any PNC or WI convictions, or are they a banned user?
          </h4>

          <div class="form-group">
            <fieldset class="inline">
              <legend class="visuallyhidden">Does the user have any PNC or WI convictions, or are they a banned user?</legend>

              <label for="rep_pncYes" class="block-label" data-target="rep_pnc-details">
                <input type="radio" name="rep_pnc" value="true" id="rep_pncYes">
                Yes
              </label>

              <label for="rep_pncNo" class="block-label">
                <input type="radio" name="rep_pnc" value="false" id="rep_pncNo">
                No
              </label>

              <div class="panel panel-border-narrow js-hidden" id="rep_pnc-details">
                <div class="form-group">
                  <label class="form-label-bold" for="rep_pncDetails">Details</label>
                  <textarea type="text" class="form-control" id="rep_pncDetails" name="rep_pncDetails" rows="6"></textarea>
                </div>
              </div>

            </fieldset>
          </div>

          <!-- <h4 class="heading-small">
            WI?
          </h4>

          <div class="form-group">
            <fieldset class="inline">
              <legend class="visuallyhidden">WI?</legend>

              <label for="rep_wiYes" class="block-label" data-target="rep_wi-details">
                <input type="radio" name="rep_wi" value="true" id="rep_wiYes">
                Yes
              </label>

              <label for="rep_wiNo" class="block-label">
                <input type="radio" name="rep_wi" value="false" id="rep_wiNo">
                No
              </label>

              <div class="panel panel-border-narrow js-hidden" id="rep_wi-details">
                <div class="form-group">
                  <label class="form-label-bold" for="rep_wiDetails">Details</label>
                  <textarea type="text" class="form-control" id="rep_wiDetails" name="rep_wiDetails" rows="6"></textarea>
                </div>
              </div>

            </fieldset>
          </div> -->

          <h4 class="heading-small">
            Is there any evidence of previous non-compliance in the last 5 years?
            <span class="form-hint">User has been rejected or refused for this or another company.</span>
          </h4>

          <div class="form-group">
            <fieldset class="inline">
              <legend class="visuallyhidden">Is there any evidence of previous non-compliance in the last 5 years?</legend>

              <label for="rep_historyYes" class="block-label" data-target="rep_history-details">
                <input type="radio" name="rep_history" value="true" id="rep_historyYes">
                Yes
              </label>

              <label for="rep_historyNo" class="block-label">
                <input type="radio" name="rep_history" value="false" id="rep_historyNo">
                No
              </label>

              <div class="panel panel-border-narrow js-hidden" id="rep_history-details">
                <div class="form-group">
                  <label class="form-label-bold" for="rep_historyDetails">Details</label>
                  <textarea type="text" class="form-control" id="rep_historyDetails" name="rep_historyDetails" rows="6"></textarea>
                </div>
              </div>

            </fieldset>
          </div>

          <!-- <h4 class="heading-small">
            Banned user?
          </h4>

          <div class="form-group">
            <fieldset class="inline">
              <legend class="visuallyhidden">Banned user?</legend>

              <label for="banned_repYes" class="block-label" data-target="banned_rep-details">
                <input type="radio" name="banned_rep" value="true" id="banned_repYes">
                Yes
              </label>

              <label for="banned_repNo" class="block-label">
                <input type="radio" name="banned_rep" value="false" id="banned_repNo">
                No
              </label>

              <div class="panel panel-border-narrow js-hidden" id="banned_rep-details">
                <div class="form-group">
                  <label class="form-label-bold" for="banned_repDetails">Details</label>
                  <textarea type="text" class="form-control" id="banned_repDetails" name="banned_repDetails" rows="6"></textarea>
                </div>
              </div>

            </fieldset>
          </div> -->

          <div class="form-group">
            <label class="form-label-bold" for="rep-notes">
              Any other notes or concerns
            </label>
            <textarea type="text" class="form-control" id="rep-notes" name="rep-notes" rows="6"></textarea>
          </div>

          <div class="form-group">
            <a href="#0" class="button leftnavlinks" data-target="vacancy-details">
              Continue
            </a>
          </div>

        </form>
      </div> <!-- /Rep details -->

      <div id="vacancy-details" class="leftnavcontent">
        <form>

          <h2 class="heading-large" style="margin-top: 0">
            Vacancy details
          </h2>

          <table style="margin-bottom: 30px">
            <!-- <caption style="text-align: left">
              Vacancy details submitted
            </caption> -->
            <tr>
              <th>COS request</th>
              <td>3</td>
            </tr>
            <tr>
              <th>Job title</th>
              <td>Business development manager</td>
            </tr>
            <tr>
              <th>Job description</th>
              <td>Create and maintain a clear indirect channel strategy of how we will meet and exceed indirect channel sales targets. Meet and exceed sales and net add targets through new and existing customer, targeting,  development and engagement. Optimise indirect channel commercial performance by driving ARPU and reducing acquisition CPAs. Create and maintain an accurate prospect list and future volume forecast with proactive risks and opportunity management. Create and lead a highly motivated team of sales leads.</td>
            </tr>
            <tr>
              <th>Salary</th>
              <td>&pound;30,000</td>
            </tr>
            <tr>
              <th>SOC code</th>
              <td>2135 - IT business analysts, architects and systems designers</td>
            </tr>
            <tr>
              <th>Advertisement status</th>
              <td>Exempt</td>
            </tr>
          </table>

          <h4 class="heading-small">
            Does the company hit any internal risk profiles?
          </h4>

          <div class="form-group">
            <fieldset class="inline">
              <legend class="visuallyhidden">Does the company hit an internal risk profiles?</legend>

              <label for="risk_profileYes" class="block-label" data-target="risk_profile-details">
                <input type="radio" name="risk_profile" value="true" id="risk_profileYes">
                Yes
              </label>

              <label for="risk_profileNo" class="block-label">
                <input type="radio" name="risk_profile" value="false" id="risk_profileNo">
                No
              </label>

              <div class="panel panel-border-narrow js-hidden" id="risk_profile-details">
                <div class="form-group">
                  <label class="form-label-bold" for="risk_profileDetails">Details</label>
                  <textarea type="text" class="form-control" id="risk_profileDetails" name="risk_profileDetails" rows="6"></textarea>
                </div>
              </div>

            </fieldset>
          </div>

          <h4 class="heading-small">
            Approve COS allocation?
          </h4>

          <div class="form-group">
            <fieldset class="inline">
              <legend class="visuallyhidden">Approve COS allocation?</legend>

              <label for="cosYes" class="block-label">
                <input type="radio" name="cosapprove" value="true" id="cosYes">
                Yes
              </label>

              <label for="cosNo" class="block-label" data-target="cosapprove-details">
                <input type="radio" name="cosapprove" value="false" id="cosNo">
                No
              </label>

              <div class="panel panel-border-narrow js-hidden" id="cosapprove-details">
                <div class="form-group">
                  <label class="form-label-bold" for="cosNumber">New COS allocation</label>
                  <div class="form-date">
                    <div class="form-group form-group-year">
                      <input class="form-control" id="cosNumber" name="cosNumber" type="number" pattern="[0-9]*" min="0">
                    </div>
                  </div>
                </div>
                <div class="form-group">
                  <label class="form-label-bold" for="cosDetails">Reason for change</label>
                  <textarea type="text" class="form-control" id="cosDetails" name="cosDetails" rows="6"></textarea>
                </div>
              </div>

            </fieldset>
          </div>

          <!-- <h4 class="heading-small">
            Approve vacancy?
          </h4>

          <div class="form-group">
            <fieldset class="inline">
              <legend class="visuallyhidden">Approve vacancy?</legend>

              <label for="vacancyYes" class="block-label">
                <input type="radio" name="vacancyapprove" value="true" id="vacancyYes">
                Yes
              </label>

              <label for="vacancyNo" class="block-label" data-target="vacancyapprove-details">
                <input type="radio" name="vacancyapprove" value="false" id="vacancyNo">
                No
              </label>

              <div class="panel panel-border-narrow js-hidden" id="vacancyapprove-details">
                <div class="form-group">
                  <label class="form-label-bold" for="vacancyDetails">Details</label>
                  <textarea type="text" class="form-control" id="vacancyDetails" name="vacancyDetails" rows="6"></textarea>
                </div>
              </div>

            </fieldset>
          </div> -->

          <div class="form-group">
            <label class="form-label-bold" for="vacancy-notes">
              Any other notes or concerns
            </label>
            <textarea type="text" class="form-control" id="vacancy-notes" name="vacancy-notes" rows="6"></textarea>
          </div>

          <div class="form-group">
            <a href="#0" class="button leftnavlinks" data-target="application-decision">
              Continue
            </a>
          </div>

        </form>
      </div> <!-- /Vacancy details -->

      <div id="application-decision" class="leftnavcontent">
        <form action="#0" method="get" class="form">

          <h2 class="heading-large" style="margin-top: 0">
            Application decision
          </h2>

          <table style="margin-bottom: 30px">
            <caption style="text-align: left">
              Business details
            </caption>
            <tr>
              <th>Companies House details</th>
              <td>The company was not active on companies house</td>
            </tr>
            <tr>
              <th>Sponsorship history</th>
              <td>Refused under another company name, ACME inc.</td>
            </tr>
          </table>

          <table style="margin-bottom: 30px">
            <caption style="text-align: left">
              AO details
            </caption>
            <tr>
              <th>Banned user</th>
              <td>Listed on the banned user list.</td>
            </tr>
            <tr>
              <th>Sponsorship history</th>
              <td>Refused under another company name, ACME inc.</td>
            </tr>
          </table>

          <table style="margin-bottom: 30px">
            <caption style="text-align: left">
              Vacancy details
            </caption>
            <tr>
              <th>COS allocation</th>
              <td>Reduced due to insufficient evidence of requirement</td>
            </tr>
          </table>

          <h4 class="heading-small">
            Grant application?
          </h4>

          <div class="form-group">
            <fieldset class="inline">
              <legend class="visuallyhidden">Grant application?</legend>

              <label for="appYes" class="block-label">
                <input type="radio" name="app" value="true" id="appYes">
                Yes
              </label>

              <label for="appNo" class="block-label" data-target="app-details">
                <input type="radio" name="app" value="false" id="appNo">
                No
              </label>

              <div class="panel panel-border-narrow js-hidden" id="app-details">
                <div class="form-group">
                  <label class="form-label-bold" for="appDetails">Reasons for refusal</label>
                  <textarea type="text" class="form-control" id="appDetails" name="appDetails" rows="6"></textarea>
                </div>
              </div>

            </fieldset>
          </div>

          <div class="form-group">
            <input type="submit" class="button" value="Submit">
          </div>

        </form>
      </div> <!-- /Application decision -->

    </div> <!-- /Tab content - col-2/3 -->

  </div>

</main>

{% endblock %}
