{% extends "layout.html" %}

{% block page_title %}
  Caseworking
{% endblock %}

{% block content %}

<main id="content" role="main">
  {% include "includes/phase_banner_alpha.html" %}
  <div class="grid-row">

    <!-- <div class="column-full">
      <a onclick="history.go(-1); return false;" href="#0" class="link-back">Back</a>
    </div> -->

    <div class="column-full">
      <h1 class="heading-xlarge" style="margin-bottom: 0;">
        {{ compName }}
      </h1>

      <div class="panel panel-border-wide">

        <div class="grid-row">
          <div class="column-two-thirds">
            <!-- <h2 class="heading-medium" style="margin: 0;">
              {{ compName }}
            </h2> -->
            <ul class="list">
              <li>URN: {{ urn }}</li>
              <li>Status: {{ status }}</li>
            </ul>
          </div>
          <div class="column-one-third" style="text-align: right;">
            <a class="button overview" href="#0" style="display: none">Casework</a>
            <a class="button action" onclick="window.location='/caseworker-action'+window.location.search;" style="display: none">Action case</a>
          </div>

        </div>

      </div>

    </div>
  </div>

  <div class="grid-row">

    <div class="column-one-third">
      <ul class="leftnav">
        <li>
          <a href="#0" class="leftnavlinks business-details active" data-target="business-details">
            Business details
            <span class="tag tag--complete" style="display: none;">Complete</span>
          </a>
        </li>
        <li>
          <a href="#0" class="leftnavlinks ao-details" data-target="ao-details">
            AO details
            <span class="tag tag--complete" style="display: none;">Complete</span>
          </a>
        </li>
        <li>
          <a href="#0" class="leftnavlinks other-user" data-target="other-user">
            Other user details
            <span class="tag tag--complete" style="display: none;">Complete</span>
          </a>
        </li>
        <li>
          <a href="#0" class="leftnavlinks rep-details" data-target="rep-details">
            Representative details
            <!-- <span class="tag tag--risk">Risk</span> -->
            <span class="tag tag--complete" style="display: none;">Complete</span>
          </a>
        </li>
        <li>
          <a href="#0" class="leftnavlinks vacancy-details" data-target="vacancy-details">
            Vacancy details
            <span class="tag tag--complete" style="display: none;">Complete</span>
          </a>
        </li>
        <li>
          <a href="#0" class="leftnavlinks application-decision" data-target="application-decision">
            Application decision
            <span class="tag tag--complete" style="display: none;">Complete</span>
          </a>
        </li>
      </ul>
    </div> <!-- /Tab menu -->

    <div class="column-two-thirds">

      <div id="business-details" class="leftnavcontent" style="display: block">
        <form>

          <h2 class="heading-large" style="margin-top: 0">
            Business details
          </h2>

          <table style="margin-bottom: 30px">
            <!-- <caption style="text-align: left">
              Business details submitted
            </caption> -->
            <tr>
              <th>Company name</th>
              <td>{{ compName }}</td>
            </tr>
            <tr>
              <th>Companies House number</th>
              <td>
                <a href="https://beta.companieshouse.gov.uk/company/06232576" title="View on Companies House" target="_blank" rel="external">06232576</a>
              </td>
            </tr>
            <tr>
              <th>Primary address</th>
              <td><a href="http://maps.google.com/?q=123 West Street Sheffield S1 2AB" title="Search on Google Maps" target="_blank" rel="external">123 West Street<br>Sheffield<br>S1 2AB</a></td>
            </tr>
            <tr>
              <td colspan="2">
                <details role="group" style="margin: 0; padding: 0; border: 0; ">

                  <summary role="button" aria-controls="details-content-address" aria-expanded="false">
                    <span class="summary">Additional address</span>
                  </summary>

                  <div class="panel panel-border-narrow" id="details-content-address" aria-hidden="true">
                    <table>
                      <tr>
                        <td>
                          <a href="http://maps.google.com/?q=164 Timperley Court Timperley Gardens Redhill RH1 2AU" title="Search on Google Maps" target="_blank" rel="external">164 Timperley Court<br>Redhill<br>RH1 2AU</a>
                        </td>
                      </tr>
                      <tr>
                        <td>
                          <a href="http://maps.google.com/?q=1107 Arnside Road Nottingham NG5 5HH" title="Search on Google Maps" target="_blank" rel="external">1107 Arnside Road<br>Nottingham<br>NG5 5HH</a>
                        </td>
                      </tr>
                      <tr>
                        <td>
                          <a href="http://maps.google.com/?q=1170 Armscroft Place Gloucester GL2 0SP" title="Search on Google Maps" target="_blank" rel="external">1170 Armscroft Place<br>Gloucester<br>GL2 0SP</a>
                        </td>
                      </tr>
                    </table>
                  </div>

                </details>
              </td>
            </tr>
            <!-- <tr>
              <th>Company director</th>
              <td>Rod Runner</td>
            </tr>
            <tr>
              <th>Second company director</th>
              <td>William E. Coyote</td>
            </tr> -->
            <tr>
              <th>Company type</th>
              <td>Private limited company</td>
            </tr>
            <tr>
              <th>Date of incorporation</th>
              <td>03/11/2014</td>
            </tr>
            <tr>
              <th>Nature of business (SIC)</th>
              <td>Manufacture of medical and dental instruments and supplies <small>(32500)</small></td>
            </tr>
          </table>

          <details role="group">

            <summary role="button" aria-controls="details-content-0" aria-expanded="false">
              <span class="summary">Previous applications</span>
            </summary>

            <div class="panel panel-border-narrow" id="details-content-0" aria-hidden="true">
              <h3 class="heading-medium">ACME Corporation</h3>
              <table>
                <tr>
                  <th>URN</th>
                  <td><a href="#0">436092851J</a></td>
                </tr>
                <tr>
                  <th>Outcome</th>
                  <td>Rejected</td>
                </tr>
                <tr>
                  <th>Rejection reason</th>
                  <td>Required document not provided, application rejected and refunded.</td>
                </tr>
                <tr>
                  <th>Rejection date</th>
                  <td>12/10/2015.</td>
                </tr>
              </table>
            </div>

          </details>

          <details role="group">

            <summary role="button" aria-controls="details-content-0" aria-expanded="false">
              <span class="summary">Likely previous applications</span>
            </summary>

            <div class="panel panel-border-narrow" id="details-content-0" aria-hidden="true">
              <h3 class="heading-medium">ACME Inc.</h3>
              <table>
                <tr>
                  <th>URN</th>
                  <td><a href="#0">128889351B</a></td>
                </tr>
                <tr>
                  <th>Outcome</th>
                  <td>Refused</td>
                </tr>
                <tr>
                  <th>Refusal reason</th>
                  <td>Failed visit due to insufficient processes in place to monitor sponsored applicant.</td>

                </tr>
                <tr>
                  <th>Refusal date</th>
                  <td>12/08/2015.</td>
                </tr>
              </table>
            </div>

            <div class="panel panel-border-narrow" id="details-content-0" aria-hidden="true">
              <h3 class="heading-medium">Smith and Co.</h3>
              <table>
                <tr>
                  <th>URN</th>
                  <td><a href="#0">238834351Z</a></td>
                </tr>
                <tr>
                  <th>Outcome</th>
                  <td>Refused</td>
                </tr>
                <tr>
                  <th>Refusal reason</th>
                  <td>Insufficient evidence of company trading, address listed did not appear to be a valid company.</td>
                </tr>
                <tr>
                  <th>Refusal date</th>
                  <td>12/08/2012.</td>
                </tr>
              </table>
            </div>

          </details>

          <details role="group">

            <summary role="button" aria-controls="details-content-0" aria-expanded="false">
              <span class="summary">Other applications from the same postcode</span>
            </summary>

            <div class="panel panel-border-narrow" id="details-content-0" aria-hidden="true">
              <h3 class="heading-medium">Bob&rsquo;s Bits</h3>
              <table>
                <tr>
                  <th>URN</th>
                  <td><a href="#0">288715309R</a></td>
                </tr>
                <tr>
                  <th>Outcome</th>
                  <td>Rejected</td>
                </tr>
                <tr>
                  <th>Rejection reason</th>
                  <td>Fee underpaid.</td>

                </tr>
                <tr>
                  <th>Rejection date</th>
                  <td>31/07/2015.</td>
                </tr>
              </table>
            </div>

            <div class="panel panel-border-narrow" id="details-content-0" aria-hidden="true">
              <h3 class="heading-medium">Flying Pizza</h3>
              <table>
                <tr>
                  <th>URN</th>
                  <td><a href="#0">238834351Z</a></td>
                </tr>
                <tr>
                  <th>Outcome</th>
                  <td>Approved</td>
                </tr>
                <tr>
                  <th>Approval date</th>
                  <td>15/04/2010.</td>
                </tr>
              </table>
            </div>

          </details>

          <h4 class="heading-small">
            Approve business details?
          </h4>

          <div class="form-group">
            <fieldset class="inline">
              <legend class="visuallyhidden">Approve business details?</legend>

              <label for="companyYes" class="block-label">
                <input type="radio" name="company" value="true" id="companyYes">
                Yes
              </label>

              <label for="companyNo" class="block-label" data-target="company-details">
                <input type="radio" name="company" value="false" id="companyNo">
                No
              </label>

              <div class="panel panel-border-narrow js-hidden" id="company-details">
                <div class="form-group">
                  <label class="form-label-bold" for="companyDetails">Details</label>
                  <textarea type="text" class="form-control" id="companyDetails" name="companyDetails" rows="6"></textarea>
                </div>
              </div>

            </fieldset>
          </div>

          <!-- <h4 class="heading-small">
            Does the AO have any sponsorship history issues?
          </h4> -->

          <!-- <div class="form-group">
            <fieldset class="inline">
              <legend class="visuallyhidden">Does the AO have any sponsorship history issues?</legend>

              <label for="historyYes" class="block-label" data-target="history-details">
                <input type="radio" name="history" value="true" id="historyYes">
                Yes
              </label>

              <label for="historyNo" class="block-label">
                <input type="radio" name="history" value="false" id="historyNo">
                No
              </label>

              <div class="panel panel-border-narrow js-hidden" id="history-details">
                <div class="form-group">
                  <label class="form-label-bold" for="pncDetails">Details</label>
                  <textarea type="text" class="form-control" id="pncDetails" name="pncDetails" rows="6"></textarea>
                </div>
              </div>

            </fieldset>
          </div> -->

          <div class="form-group">
            <a href="#0" class="button leftnavlinks" data-target="ao-details">
              Continue
            </a>
          </div>

        </form>
      </div> <!-- /Business details -->

      <div id="ao-details" class="leftnavcontent">
        <form>

          <h2 class="heading-large" style="margin-top: 0">
            AO details
          </h2>

          <table style="margin-bottom: 30px">
            <!-- <caption style="text-align: left">
              AO&rsquo;s submitted details
            </caption> -->
            <tr>
              <th>Full name</th>
              <td>Delice Junco</td>
            </tr>
            <tr>
              <th>DOB</th>
              <td>18/09/1942</td>
            </tr>
            <tr>
              <th>Nationality</th>
              <td>British</td>
            </tr>
            <!-- <tr>
              <th>NI number</th>
              <td>EL271653B</td>
            </tr> -->
            <tr>
              <th>Passport number</th>
              <td>152505696</td>
            </tr>
            <tr>
              <th>Job title</th>
              <td>Company director</td>
            </tr>
            <tr>
              <th>Work address</th>
              <td><a href="http://maps.google.com/?q=123 West Street Sheffield S1 2AB" title="Search on Google Maps" target="_blank" rel="external">123 West Street<br>Sheffield<br>S1 2AB</a></td>
            </tr>
            <tr>
              <th>Contact number</th>
              <td>0114 2301234</td>
            </tr>
            <tr>
              <th>Email address</th>
              <td><a href="mailto:djunco@acme.com">djunco@acme.com</a></td>
            </tr>
          </table>

          <details role="group">

            <summary role="button" aria-controls="details-content-0" aria-expanded="false">
              <span class="summary">Previous applications</span>
            </summary>

            <div class="panel panel-border-narrow" id="details-content-0" aria-hidden="true">
              <h3 class="heading-medium">Foo Bars ltd</h3>
              <table>
                <tr>
                  <th>URN</th>
                  <td><a href="#0">436092851J</a></td>
                </tr>
                <tr>
                  <th>Outcome</th>
                  <td>Approved</td>
                </tr>
              </table>
            </div>

            <div class="panel panel-border-narrow" id="details-content-0" aria-hidden="true">
              <h3 class="heading-medium">Smith and Co.</h3>
              <table>
                <tr>
                  <th>URN</th>
                  <td><a href="#0">509972207F</a></td>
                </tr>
                <tr>
                  <th>Outcome</th>
                  <td>Refused</td>
                </tr>
                <tr>
                  <th>Refusal reason</th>
                  <td>Vacancy was deemed unnecessary.</td>
                </tr>
              </table>
            </div>

          </details>

          <h4 class="heading-small">
            Does the AO have any PNC convictions?
          </h4>

          <div class="form-group">
            <fieldset class="inline">
              <legend class="visuallyhidden">Does the AO have any PNC convictions?</legend>

              <label for="pncYes" class="block-label" data-target="pnc-details">
                <input type="radio" name="pnc" value="true" id="pncYes">
                Yes
              </label>

              <label for="pncNo" class="block-label">
                <input type="radio" name="pnc" value="false" id="pncNo">
                No
              </label>

              <div class="panel panel-border-narrow js-hidden" id="pnc-details">
                <div class="form-group">
                  <label class="form-label-bold" for="pncDetails">Details</label>
                  <textarea type="text" class="form-control" id="pncDetails" name="pncDetails" rows="6"></textarea>
                </div>
              </div>

            </fieldset>
          </div>

          <h4 class="heading-small">
            Is there any evidence of previous non-compliance in the last 5 years?
          </h4>

          <div class="form-group">
            <fieldset class="inline">
              <legend class="visuallyhidden">Is there any evidence of previous non-compliance in the last 5 years?</legend>

              <label for="historyYes" class="block-label" data-target="history-details">
                <input type="radio" name="history" value="true" id="historyYes">
                Yes
              </label>

              <label for="historyNo" class="block-label">
                <input type="radio" name="history" value="false" id="historyNo">
                No
              </label>

              <div class="panel panel-border-narrow js-hidden" id="history-details">
                <div class="form-group">
                  <label class="form-label-bold" for="pncDetails">Details</label>
                  <textarea type="text" class="form-control" id="pncDetails" name="pncDetails" rows="6"></textarea>
                </div>
              </div>

            </fieldset>
          </div>

          <h4 class="heading-small">
            Does the AO have any insolvency issues?
            <small>
              <a href="https://www.insolvencydirect.bis.gov.uk/eiir/" target="_blank" rel="external">Search the IIR</a>
            </small>
          </h4>

          <div class="form-group">
            <fieldset class="inline">
              <legend class="visuallyhidden">Does the AO have any insolvency issues?</legend>

              <label for="insolvencyYes" class="block-label" data-target="insolvency-details">
                <input type="radio" name="insolvency" value="true" id="insolvencyYes">
                Yes
              </label>

              <label for="insolvencyNo" class="block-label">
                <input type="radio" name="insolvency" value="false" id="insolvencyNo">
                No
              </label>

              <div class="panel panel-border-narrow js-hidden" id="insolvency-details">
                <div class="form-group">
                  <label class="form-label-bold" for="insolvencyDetails">Details</label>
                  <textarea type="text" class="form-control" id="insolvencyDetails" name="insolvencyDetails" rows="6"></textarea>
                </div>
              </div>

            </fieldset>
          </div>

          <div class="form-group">
            <a href="#0" class="button leftnavlinks" data-target="other-user">
              Continue
            </a>
          </div>

        </form>
      </div> <!-- /AO details -->

      <div id="other-user" class="leftnavcontent">
        <form>

          <h2 class="heading-large" style="margin-top: 0">
            Other user details
          </h2>

          <table style="margin-bottom: 30px">
            <!-- <caption style="text-align: left">
              Other user&rsquo;s submitted details
            </caption> -->
            <tr>
              <th>Full name</th>
              <td>Gwendolyn Kensy</td>
            </tr>
            <tr>
              <th>DOB</th>
              <td>03/03/1982</td>
            </tr>
            <tr>
              <th>Nationality</th>
              <td>British</td>
            </tr>
            <!-- <tr>
              <th>NI number</th>
              <td>KY191130C</td>
            </tr> -->
            <tr>
              <th>Passport number</th>
              <td>838602872</td>
            </tr>
            <tr>
              <th>Job title</th>
              <td>HR manager</td>
            </tr>
            <tr>
              <th>Work address</th>
              <td><a href="http://maps.google.com/?q=1176 Nelson Street Bamber Bridge PR5 6FY" target="_blank" rel="external">1176 Nelson Street<br>Bamber Bridge<br>PR5 6FY</a></td>
            </tr>
            <tr>
              <th>Contact number</th>
              <td>07413836999</td>
            </tr>
            <tr>
              <th>Email address</th>
              <td><a href="mailto:gkensy@acme.com">gkensy@acme.com</a></td>
            </tr>
          </table>

          <details role="group">

            <summary role="button" aria-controls="details-content-0" aria-expanded="false">
              <span class="summary">Previous applications</span>
            </summary>

            <div class="panel panel-border-narrow" id="details-content-0" aria-hidden="true">
              <h3 class="heading-medium">Foo Bars ltd</h3>
              <table>
                <tr>
                  <th>URN</th>
                  <td><a href="#0">436092851J</a></td>
                </tr>
                <tr>
                  <th>Outcome</th>
                  <td>Approved</td>
                </tr>
              </table>
            </div>

            <div class="panel panel-border-narrow" id="details-content-0" aria-hidden="true">
              <h3 class="heading-medium">Smith and Co.</h3>
              <table>
                <tr>
                  <th>URN</th>
                  <td><a href="#0">509972207F</a></td>
                </tr>
                <tr>
                  <th>Outcome</th>
                  <td>Refused</td>
                </tr>
                <tr>
                  <th>Refusal reason</th>
                  <td>Vacancy was deemed unnecessary.</td>
                </tr>
              </table>
            </div>

          </details>

          <h4 class="heading-small">
            Does the user have any PNC convictions?
          </h4>

          <div class="form-group">
            <fieldset class="inline">
              <legend class="visuallyhidden">Does the user have any PNC convictions?</legend>

              <label for="ou-pncYes" class="block-label" data-target="ou-pnc-details">
                <input type="radio" name="ou-pnc" value="true" id="ou-pncYes">
                Yes
              </label>

              <label for="ou-pncNo" class="block-label">
                <input type="radio" name="ou-pnc" value="false" id="ou-pncNo">
                No
              </label>

              <div class="panel panel-border-narrow js-hidden" id="ou-pnc-details">
                <div class="form-group">
                  <label class="form-label-bold" for="ou-pncDetails">Details</label>
                  <textarea type="text" class="form-control" id="ou-pncDetails" name="ou-pncDetails" rows="6"></textarea>
                </div>
              </div>

            </fieldset>
          </div>

          <h4 class="heading-small">
            Is there any evidence of previous non-compliance in the last 5 years?
          </h4>

          <div class="form-group">
            <fieldset class="inline">
              <legend class="visuallyhidden">Is there any evidence of previous non-compliance in the last 5 years?</legend>

              <label for="ou-historyYes" class="block-label" data-target="ou-history-details">
                <input type="radio" name="ou-history" value="true" id="ou-historyYes">
                Yes
              </label>

              <label for="ou-historyNo" class="block-label">
                <input type="radio" name="ou-history" value="false" id="ou-historyNo">
                No
              </label>

              <div class="panel panel-border-narrow js-hidden" id="ou-history-details">
                <div class="form-group">
                  <label class="form-label-bold" for="ou-historyDetails">Details</label>
                  <textarea type="text" class="form-control" id="ou-historyDetails" name="ou-historyDetails" rows="6"></textarea>
                </div>
              </div>

            </fieldset>
          </div>

          <div class="form-group">
            <a href="#0" class="button leftnavlinks" data-target="rep-details">
              Continue
            </a>
          </div>

        </form>
      </div> <!-- /Other user -->

      <div id="rep-details" class="leftnavcontent">
        <form>

          <h2 class="heading-large" style="margin-top: 0">
            Representative details
          </h2>

          <table style="margin-bottom: 30px">
            <!-- <caption style="text-align: left">
              Representative&rsquo;s submitted details
            </caption> -->
            <tr>
              <th>Access level</th>
              <td>System user</td>
            </tr>
            <tr>
              <th>OISC number</th>
              <td>123456789</td>
            </tr>
            <tr>
              <th>Full name</th>
              <td>Ford Pensinger</td>
            </tr>
            <!-- <tr>
              <th>DOB</th>
              <td>23/08/1950</td>
            </tr>
            <tr>
              <th>Nationality</th>
              <td>British</td>
            </tr>
            <tr>
              <th>NI number</th>
              <td>PC548323A</td>
            </tr>
            <tr>
              <th>Passport number</th>
              <td>958366300</td>
            </tr> -->
            <tr>
              <th>Company name</th>
              <td>Reps r us</td>
            </tr>
            <tr>
              <th>Company address</th>
              <td><a href="http://maps.google.com/?q=123 West Street Sheffield S1 2AB" target="_blank" rel="external">1195 Longwood Gate<br>Longwood<br>HD3 4US</a></td>
            </tr>
            <tr>
              <th>Contact number</th>
              <td>045 9474 1658</td>
            </tr>
            <tr>
              <th>Email address</th>
              <td><a href="mailto:djunco@acme.com">f.pensinger@reps.com</a></td>
            </tr>
          </table>

          <details role="group">

            <summary role="button" aria-controls="details-content-0" aria-expanded="false">
              <span class="summary">Previous representations</span>
            </summary>

            <div class="panel panel-border-narrow" id="details-content-0" aria-hidden="true">
              <h3 class="heading-medium">Foo Bars ltd</h3>
              <table>
                <tr>
                  <th>URN</th>
                  <td><a href="#0">436092851J</a></td>
                </tr>
                <tr>
                  <th>Outcome</th>
                  <td>Approved</td>
                </tr>
              </table>
            </div>

            <div class="panel panel-border-narrow" id="details-content-0" aria-hidden="true">
              <h3 class="heading-medium">Smith and Co.</h3>
              <table>
                <tr>
                  <th>URN</th>
                  <td><a href="#0">509972207F</a></td>
                </tr>
                <tr>
                  <th>Outcome</th>
                  <td>Refused</td>
                </tr>
                <tr>
                  <th>Refusal reason</th>
                  <td>Vacancy was deemed unnecessary.</td>
                </tr>
              </table>
            </div>

          </details>

          <h4 class="heading-small">
            Approve representative?
          </h4>

          <div class="form-group">
            <fieldset class="inline">
              <legend class="visuallyhidden">Approve representative?</legend>

              <label for="repYes" class="block-label">
                <input type="radio" name="repapprove" value="true" id="repYes">
                Yes
              </label>

              <label for="repNo" class="block-label" data-target="repapprove-details">
                <input type="radio" name="repapprove" value="false" id="repNo">
                No
              </label>

              <div class="panel panel-border-narrow js-hidden" id="repapprove-details">
                <div class="form-group">
                  <label class="form-label-bold" for="repDetails">Details</label>
                  <textarea type="text" class="form-control" id="repDetails" name="repDetails" rows="6"></textarea>
                </div>
              </div>

            </fieldset>
          </div>

          <div class="form-group">
            <a href="#0" class="button leftnavlinks" data-target="vacancy-details">
              Continue
            </a>
          </div>

        </form>
      </div> <!-- /Rep details -->

      <div id="vacancy-details" class="leftnavcontent">
        <form>

          <h2 class="heading-large" style="margin-top: 0">
            Vacancy details
          </h2>

          <table style="margin-bottom: 30px">
            <!-- <caption style="text-align: left">
              Vacancy details submitted
            </caption> -->
            <tr>
              <th>COS request</th>
              <td>1</td>
            </tr>
            <tr>
              <th>Job title</th>
              <td>Interaction designer</td>
            </tr>
            <tr>
              <th>Job description</th>
              <td>Refine and shape user journeys and help remove complexity where it isn’t needed.  Design for diverse users and platforms and ensure usability and accessibility of the service. Help identify gaps in product understanding, help plan user research and analytics and help inform the design of user journeys.</td>
            </tr>
            <tr>
              <th>Salary</th>
              <td>&pound;30,000</td>
            </tr>
            <tr>
              <th>SOC code</th>
              <td>2135 - IT business analysts, architects and systems designers</td>
            </tr>
            <tr>
              <th>Advertisement status</th>
              <td>Exempt</td>
            </tr>
          </table>

          <h4 class="heading-small">
            Approve COS allocation?
          </h4>

          <div class="form-group">
            <fieldset class="inline">
              <legend class="visuallyhidden">Approve COS allocation?</legend>

              <label for="cosYes" class="block-label">
                <input type="radio" name="cosapprove" value="true" id="cosYes">
                Yes
              </label>

              <label for="cosNo" class="block-label" data-target="cosapprove-details">
                <input type="radio" name="cosapprove" value="false" id="cosNo">
                No
              </label>

              <div class="panel panel-border-narrow js-hidden" id="cosapprove-details">
                <div class="form-group">
                  <label class="form-label-bold" for="cosNumber">New COS allocation</label>
                  <div class="form-date">
                    <div class="form-group form-group-year">
                      <input class="form-control" id="cosNumber" name="cosNumber" type="number" pattern="[0-9]*" min="0">
                    </div>
                  </div>
                </div>
                <div class="form-group">
                  <label class="form-label-bold" for="cosDetails">Reason for change</label>
                  <textarea type="text" class="form-control" id="cosDetails" name="cosDetails" rows="6"></textarea>
                </div>
              </div>

            </fieldset>
          </div>

          <h4 class="heading-small">
            Approve vacancy?
          </h4>

          <div class="form-group">
            <fieldset class="inline">
              <legend class="visuallyhidden">Approve vacancy?</legend>

              <label for="vacancyYes" class="block-label">
                <input type="radio" name="vacancyapprove" value="true" id="vacancyYes">
                Yes
              </label>

              <label for="vacancyNo" class="block-label" data-target="vacancyapprove-details">
                <input type="radio" name="vacancyapprove" value="false" id="vacancyNo">
                No
              </label>

              <div class="panel panel-border-narrow js-hidden" id="vacancyapprove-details">
                <div class="form-group">
                  <label class="form-label-bold" for="vacancyDetails">Details</label>
                  <textarea type="text" class="form-control" id="vacancyDetails" name="vacancyDetails" rows="6"></textarea>
                </div>
              </div>

            </fieldset>
          </div>

          <div class="form-group">
            <a href="#0" class="button leftnavlinks" data-target="application-decision">
              Continue
            </a>
          </div>

        </form>
      </div> <!-- /Vacancy details -->

      <div id="application-decision" class="leftnavcontent">
        <form action="#0" method="get" class="form">

          <h2 class="heading-large" style="margin-top: 0">
            Application decision
          </h2>

          <table style="margin-bottom: 30px">
            <!-- <caption style="text-align: left">
              Areas marked for concern
            </caption> -->
            <tr>
              <th>AO PNC convictions</th>
              <td>Found evidence of PNC convictions</td>
            </tr>
            <tr>
              <th>Evidence of trading</th>
              <td>Failed visit</td>
            </tr>
          </table>

          <h4 class="heading-small">
            Is the application successful?
          </h4>

          <div class="form-group">
            <fieldset class="inline">
              <legend class="visuallyhidden">Is the application successful?</legend>

              <label for="appYes" class="block-label">
                <input type="radio" name="app" value="true" id="appYes">
                Yes
              </label>

              <label for="appNo" class="block-label" data-target="app-details">
                <input type="radio" name="app" value="false" id="appNo">
                No
              </label>

              <div class="panel panel-border-narrow js-hidden" id="app-details">
                <div class="form-group">
                  <label class="form-label-bold" for="appDetails">Reasons for decision</label>
                  <textarea type="text" class="form-control" id="appDetails" name="appDetails" rows="6"></textarea>
                </div>
              </div>

            </fieldset>
          </div>

          <div class="form-group">
            <input type="submit" class="button" value="Submit">
          </div>

        </form>
      </div> <!-- /Application decision -->

    </div> <!-- /Tab content - col-2/3 -->

  </div>

</main>

{% endblock %}
