{% extends "layout.html" %}

{% block page_title %}
  Cases
{% endblock %}

{% block content %}

<main id="content" role="main">
  {% include "includes/phase_banner_alpha.html" %}
  <div class="grid-row">

    <!-- <div class="column-full">
      <a onclick="history.go(-1); return false;" href="#0" class="link-back">Back</a>
    </div> -->

    <div class="column-two-thirds">
      <h1 class="heading-large" style="margin: 30px 0 0">
        Current cases
      </h1>

      <form action="#0" method="get" class="form">

        <div class="form-group" style="margin: 0">
          <label for="case-search" class="form-label">Search cases using URN</label>
          <!-- <p class="form-hint">URN or Company name</p> -->
          <input type="text" class="form-control js-case-search-query" id="case-search" name="case-search" style="height: 40px; padding: 6px 10px;">
          <input class="button js-case-search" type="submit" value="Search">
        </div>

      </form>
    </div>

  </div> <!-- /grid-row -->

  <div class="grid-row">

    <!-- <div class="column-third">
      <h2 class="heading-large">
        Cases
      </h2>
    </div> -->

    <div class="column-full">
      <div class="tab-container">
        <a href="#all-cases" class="tab tab--active js-all-cases">
          All cases
        </a>
        <a href="#my-cases" class="tab js-my-cases">
            My cases
        </a>
      </div>
    </div>

    <div class="column-full">
      <table class="cases">
        <thead>
          <tr>
            <th>URN</th>
            <th class="my-cases-view">Company name</th>
            <!-- <th>Date submitted</th> -->
            <th>SLA</th>
            <th>Status</th>
            <th class="all-cases-view">Owner</th>
            <th class="my-cases-view">Due in</th>
            <th class="">Action</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td><a href="/caseworker?compName=ACME Corporation&urn=603600002A&overview&status=Ready">603600002A</a></td>
            <td class="my-cases-view">ACME Corporation</td>
            <!-- <td>01/01/2016</td> -->
            <td class="date" data-days="54"></td>
            <td>Ready</td>
            <td class="all-cases-view">-</td>
            <td class=""><a class="button" href="/caseworker?compName=ACME Corporation&urn=603600002A&status=Ready" role="button">Casework</a></td>
          </tr>
          <tr>
            <td><a href="/caseworker?compName=Hooli&urn=603600002B&overview&status=Ready">603600002B</a></td>
            <td class="my-cases-view">Hooli</td>
            <!-- <td>01/01/2016</td> -->
            <td class="date" data-days="56"></td>
            <td>Ready</td>
            <td class="all-cases-view">-</td>
            <td class=""><a class="button" href="/caseworker?compName=Hooli&urn=603600002B&status=Ready" role="button">Casework</a></td>
          </tr>
          <tr>
            <td><a href="/caseworker?compName=Vehement Capital Partners&urn=603600002C&overview&status=Ready">603600002C</a></td>
            <td class="my-cases-view">Vehement Capital Partners</td>
            <!-- <td>01/01/2016</td> -->
            <td class="date" data-days="40"></td>
            <td>Ready</td>
            <td class="all-cases-view">-</td>
            <td class=""><a class="button" href="/caseworker?compName=603600002C&urn=603600002C&status=Ready" role="button">Casework</a></td>
          </tr>
          <tr>
            <td><a href="/caseworker?compName=Wonka Industries&urn=603600002B&overview&status=Ready">603600002B</a></td>
            <td class="my-cases-view">Wonka Industries</td>
            <!-- <td>01/01/2016</td> -->
            <td class="date" data-days="40"></td>
            <td>Ready</td>
            <td class="all-cases-view">-</td>
            <td class=""><a class="button" href="/caseworker?compName=Wonka Industries&urn=603600002B&status=Ready" role="button">Casework</a></td>
          </tr>
          <tr>
            <td><a href="/caseworker?compName=Stark Industries&urn=603600002C&overview&status=Ready">603600002C</a></td>
            <td class="my-cases-view">Stark Industries</td>
            <!-- <td>01/01/2016</td> -->
            <td class="date" data-days="41"></td>
            <td>Ready</td>
            <td class="all-cases-view">-</td>
            <td class=""><a class="button" href="/caseworker?compName=Stark Industries&urn=603600002B&status=Ready" role="button">Casework</a></td>
          </tr>
          <tr>
            <td><a href="/caseworker?compName=Ollivanders Wand Shop&urn=603600002B&overview&status=Ready">603600002B</a></td>
            <td class="my-cases-view">Ollivander&rsquo;s Wand Shop</td>
            <!-- <td>01/01/2016</td> -->
            <td class="date" data-days="42"></td>
            <td>Ready</td>
            <td class="all-cases-view">-</td>
            <td class=""><a class="button" href="/caseworker?compName=Ollivanders Wand Shop&urn=603600002B&status=Ready" role="button">Casework</a></td>
          </tr>
          <tr>
            <td><a href="/caseworker?compName=Gekko and Co&urn=603600002C&overview&status=Ready">603600002C</a></td>
            <td class="my-cases-view">Gekko &amp; Co</td>
            <!-- <td>01/01/2016</td> -->
            <td class="date" data-days="42"></td>
            <td>Ready</td>
            <td class="all-cases-view">-</td>
            <td class=""><a class="button" href="/caseworker?compName=Gekko and Co&urn=603600002B&status=Ready" role="button">Casework</a></td>
          </tr>
          <tr>
            <td><a href="/caseworker?compName=Wayne Enterprises&urn=603600002B&overview&status=Ready">603600002B</a></td>
            <td class="my-cases-view">Wayne Enterprises</td>
            <!-- <td>01/01/2016</td> -->
            <td class="date" data-days="42"></td>
            <td>Ready</td>
            <td class="all-cases-view">-</td>
            <td class=""><a class="button" href="/caseworker?compName=Wayne Enterprises&urn=603600002B&status=Ready" role="button">Casework</a></td>
          </tr>
          <tr>
            <td><a href="/caseworker?compName=Cyberdyne Systems&urn=603600002B&overview&status=Ready">603600002C</a></td>
            <td class="my-cases-view">Cyberdyne Systems</td>
            <!-- <td>01/01/2016</td> -->
            <td class="date" data-days="44"></td>
            <td>Ready</td>
            <td class="all-cases-view">-</td>
            <td class=""><a class="button" href="/caseworker?compName=Cyberdyne Systems&urn=603600002B&status=Ready" role="button">Casework</a></td>
          </tr>
          <tr>
            <td><a href="/caseworker?compName=Genco Pura Olive Oil Company&urn=603600002B&overview&status=Ready">603600002B</a></td>
            <td class="my-cases-view">Genco Pura Olive Oil Company</td>
            <!-- <td>01/01/2016</td> -->
            <td class="date" data-days="45"></td>
            <td>Ready</td>
            <td class="all-cases-view">-</td>
            <td class=""><a class="button" href="/caseworker?compName=Genco Pura Olive Oil Company&urn=603600002B&status=Ready" role="button">Casework</a></td>
          </tr>
          <tr>
            <td><a href="/caseworker-linear-questions?compName=Duff Beer&urn=603600002B&overview&status=Ready">603600002C</a></td>
            <td class="my-cases-view">Duff Beer</td>
            <!-- <td>01/01/2016</td> -->
            <td class="date" data-days="45"></td>
            <td>Ready</td>
            <td class="all-cases-view">- <span class="visually-hidden">alpha</span></td>
            <td class=""><a class="button" href="/caseworker-linear-questions?compName=Duff Beer&urn=603600002B&status=Ready" role="button">Casework</a></td>
          </tr>
          <tr>
            <td><a href="/caseworker?compName=Bubba Gump&urn=603600002B&overview&status=Ready">603600002B</a></td>
            <td class="my-cases-view">Bubba Gump</td>
            <!-- <td>01/01/2016</td> -->
            <td class="date" data-days="46"></td>
            <td>Ready</td>
            <td class="all-cases-view">-</td>
            <td class=""><a class="button" href="/caseworker?compName=Bubba Gump&urn=603600002B&status=Ready" role="button">Casework</a></td>
          </tr>
          <tr>
            <td><a href="/caseworker?compName=Sterling Cooper&urn=603600002B&overview&status=Ready">603600002C</a></td>
            <td class="my-cases-view">Sterling Cooper</td>
            <!-- <td>01/01/2016</td> -->
            <td class="date" data-days="46"></td>
            <td>Ready</td>
            <td class="all-cases-view">-</td>
            <td class=""><a class="button" href="/caseworker?compName=Sterling Cooper&urn=603600002B&status=Ready" role="button">Casework</a></td>
          </tr>
          <tr>
            <td><a href="/caseworker?compName=CHOAM&urn=603600002B&overview&status=Ready">603600002B</a></td>
            <td class="my-cases-view">CHOAM</td>
            <!-- <td>01/01/2016</td> -->
            <td class="date" data-days="47"></td>
            <td>Ready</td>
            <td class="all-cases-view">-</td>
            <td class=""><a class="button" href="/caseworker?compName=CHOAM&urn=603600002B&status=Ready" role="button">Casework</a></td>
          </tr>
          <tr>
            <td><a href="/caseworker?compName=Sirius Cybernetics Corp&urn=603600002B&overview&status=Ready">603600002C</a></td>
            <td class="my-cases-view">Sirius Cybernetics Corp.</td>
            <!-- <td>01/01/2016</td> -->
            <td class="date" data-days="47"></td>
            <td>Ready</td>
            <td class="all-cases-view">-</td>
            <td class=""><a class="button" href="/caseworker?compName=Sirius Cybernetics Corp&urn=603600002B&status=Ready" role="button">Casework</a></td>
          </tr>
          <tr>
            <td><a href="/caseworker?compName=MomCorp&urn=603600002B&overview&status=Ready">603600002B</a></td>
            <td class="my-cases-view">MomCorp</td>
            <!-- <td>01/01/2016</td> -->
            <td class="date" data-days="47"></td>
            <td>Ready</td>
            <td class="all-cases-view">-</td>
            <td class=""><a class="button" href="/caseworker?compName=MomCorp&urn=603600002B&status=Ready" role="button">Casework</a></td>
          </tr>
          <tr>
            <td><a href="/caseworker?compName=Tyrell Corp&urn=603600002B&overview&status=Ready">603600002C</a></td>
            <td class="my-cases-view">Tyrell Corp.</td>
            <!-- <td>01/01/2016</td> -->
            <td class="date" data-days="48"></td>
            <td>Ready</td>
            <td class="all-cases-view">-</td>
            <td class=""><a class="button" href="/caseworker?compName=Tyrell Corp&urn=603600002B&status=Ready" role="button">Casework</a></td>
          </tr>
          <tr>
            <td><a href="/caseworker?compName=Nakatomi Trading Corp&urn=603600002B&overview&status=Ready">603600002B</a></td>
            <td class="my-cases-view">Nakatomi Trading Corp.</td>
            <!-- <td>01/01/2016</td> -->
            <td class="date" data-days="48"></td>
            <td>Ready</td>
            <td class="all-cases-view">-</td>
            <td class=""><a class="button" href="/caseworker?compName=Nakatomi Trading Corp&urn=603600002B&status=Ready" role="button">Casework</a></td>
          </tr>
          <tr>
            <td><a href="/caseworker?compName=Spacely Space Sprockets&urn=603600002B&overview&status=Ready">603600002C</a></td>
            <td class="my-cases-view">Spacely Space Sprockets</td>
            <!-- <td>01/01/2016</td> -->
            <td class="date" data-days="48"></td>
            <td>Ready</td>
            <td class="all-cases-view">-</td>
            <td class=""><a class="button" href="/caseworker?compName=Spacely Space Sprockets&urn=603600002B&status=Ready" role="button">Casework</a></td>
          </tr>
          <tr>
            <td><a href="/caseworker?compName=Oceanic Airlines&urn=603600002B&overview&status=Ready">603600002B</a></td>
            <td class="my-cases-view">Oceanic Airlines</td>
            <!-- <td>01/01/2016</td> -->
            <td class="date" data-days="48"></td>
            <td>Ready</td>
            <td class="all-cases-view">-</td>
            <td class=""><a class="button" href="/caseworker?compName=Oceanic Airlines&urn=603600002B&status=Ready" role="button">Casework</a></td>
          </tr>
          <tr>
            <td><a href="/caseworker?compName=Buy n Large&urn=603600002B&overview&status=Ready">603600002C</a></td>
            <td class="my-cases-view">Buy n Large</td>
            <!-- <td>01/01/2016</td> -->
            <td class="date" data-days="48"></td>
            <td>Ready</td>
            <td class="all-cases-view">-</td>
            <td class=""><a class="button" href="/caseworker?compName=Buy n Large&urn=603600002B&status=Ready" role="button">Casework</a></td>
          </tr>
          <tr>
            <td><a href="/caseworker?compName=Soylent Corp&urn=603600002B&status=In progress">603600002H</a></td>
            <td class="my-cases-view">Soylent Corp</td>
            <!-- <td>01/01/2016</td> -->
            <td class="date" data-days="34"></td>
            <td>In progress</td>
            <td class="all-cases-view">Joe Bloggs</td>
            <td class="my-cases-view"></td>
            <td class=""><span class="my-cases-view"><a class="button" href="/caseworker?compName=Soylent Corp&urn=603600002B&status=Ready" role="button">Continue</a></span></td>
          </tr>
          <tr>
            <td><a href="/caseworker?compName=Initech&urn=603600002B&status=On hold">603600002I</a></td>
            <td class="my-cases-view">Initech</td>
            <!-- <td>01/01/2016</td> -->
            <td class="date" data-days="15"></td>
            <td>On hold</td>
            <td class="all-cases-view">Joe Bloggs</td>
            <td class="my-cases-view error-message">Overdue</td>
            <td class=""><a class="button" href="/application-retrieve?compName=Initech&urn=603600002B&status=Ready" role="button">Retrieve</a></td>
          </tr>
          <tr>
            <td><a href="/caseworker?compName=Weyland-Yutani Corporation&urn=603600002B&status=On hold">603600002I</a></td>
            <td class="my-cases-view">Weyland-Yutani Corporation</td>
            <!-- <td>01/01/2016</td> -->
            <td class="date" data-days="20"></td>
            <td>On hold</td>
            <td class="all-cases-view">Joe Bloggs</td>
            <td class="my-cases-view" data-days="3">3 days</td>
            <td class=""><a class="button" href="/application-retrieve?compName=Weyland-Yutani Corporation&urn=603600002B&status=Ready" role="button">Retrieve</a></td>
          </tr>
          <tr>
            <td><a href="/caseworker?compName=Umbrella Corporation&urn=603600002B&status=Out for visit">603600002J</a></td>
            <td class="my-cases-view">Umbrella Corporation</td>
            <!-- <td>01/01/2016</td> -->
            <td class="date" data-days="20"></td>
            <td>Out for visit</td>
            <td class="all-cases-view">Joe Bloggs</td>
            <td class="my-cases-view" data-days="10">21 days</td>
            <td class=""><a class="button" href="/application-retrieve?compName=Umbrella Corporation&urn=603600002B&status=Ready" role="button">Retrieve</a></td>
          </tr>
          <tr>
            <td><a href="/caseworker?compName=Overseas Lawyers Co&urn=603600002Y&overview&status=Awaiting validation">603600002Y</a></td>
            <td class="my-cases-view">Overseas Lawyers Co.</td>
            <!-- <td>01/01/2016</td> -->
            <td class="date" data-days="56"></td>
            <td>Awaiting validation</td>
            <td class="all-cases-view">-</td>
            <td class=""><a class="button" href="/documents" role="button">Validate</a></td>
          </tr>
          <tr>
            <td><a href="/caseworker?compName=ACME Corporation&urn=Globex Corporation&overview&status=Awaiting validation">603600002Z</a></td>
            <td class="my-cases-view">Globex Corporation</td>
            <!-- <td>01/01/2016</td> -->
            <td class="date" data-days="56"></td>
            <td>Awaiting validation</td>
            <td class="all-cases-view">Jane Doe</td>
            <td class=""><a class="button" href="/documents" role="button">Reassign to me</a></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

</main>

{% endblock %}
