{% extends "layout.html" %}

{% block page_title %}
  Document checks
{% endblock %}

{% block content %}

<main id="content" role="main">
  {% include "includes/phase_banner_alpha.html" %}
  <div class="grid-row">

<!--     <div class="column-full">
      <a onclick="history.go(-1); return false;" href="#0" class="link-back">Back</a>
    </div> -->

    <div class="column-two-thirds">
      <h1 class="heading-large" style="margin: 30px 0;">
        Overseas Lawyers
        <small style="font-size: 50%">URN603600002Y</small>
      </h1>
    </div>

  </div>

  <div class="grid-row">
    <div class="column-two-thirds">

      <form action="/documents-check" method="get" class="form">

        <h2 class="heading-medium" style="margin-top: 0">
          Documents required <!-- <small>by 01/12/2016</small> -->
        </h2>

        <div class="form-group">
          <fieldset>

            <label for="doc1" class="block-label selection-button-checkbox">
              <input type="checkbox" name="doc1" value="doc1" id="doc1">
              Signed submission sheet
            </label>

            <label for="doc2" class="block-label selection-button-checkbox">
              <input type="checkbox" name="doc2" value="doc2" id="doc2">
              HMRC - CT41G Information for new companies
            </label>

            <label for="doc3" class="block-label selection-button-checkbox">
              <input type="checkbox" name="doc3" value="doc3" id="doc3">
              Corporate bank statements
              <!-- <br>
              <span class="tag">Checked online</span> -->
            </label>

            <!-- <label for="doc4" class="block-label selection-button-checkbox">
              <input type="checkbox" name="doc4" value="doc4" id="doc4">
              Corporate/business bank statement or letter from bank
            </label> -->

            <!-- <label for="doc5" class="block-label selection-button-checkbox">
              <input type="checkbox" name="doc5" value="doc5" id="doc5">
              Employers liability insurance certificate
            </label> -->

          </fieldset>
        </div>

        <div class="form-group">
          <label class="form-label-bold" for="extraDocs">Please list any additional documents submitted</label>
          <textarea type="text" class="form-control" id="extraDocs" name="extraDocs" rows="6"></textarea>
        </div>

        <div class="form-group">
          <input type="submit" class="button" value="Continue">
        </div>

      </form>

    </div>
  </div>

</main>

{% endblock %}
