{% extends "layout.html" %}

{% block page_title %}
  Pre-caseworker checks
{% endblock %}

{% block content %}

<main id="content" role="main">
  {% include "includes/phase_banner_alpha.html" %}
  <div class="grid-row">

    <div class="column-full">
      <a onclick="history.go(-1); return false;" href="#0" class="link-back">Back</a>
    </div>

    <div class="column-two-thirds">
      <h1 class="heading-xlarge" style="margin-bottom: 0;">
        Pre-caseworker checks
      </h1>

      <div class="panel panel-border-wide">
        <h2 class="heading-medium" style="margin-top: 0">
          Overseas Lawyers Co.
          <br>
          <small>URN603600002Y</small>
        </h2>
      </div>

      <form action="/application-precheck-confirm" method="get" class="form">

        <h2 class="heading-large">
          Fee check
        </h2>

        <table style="margin-bottom: 30px">
          <caption style="text-align: left">Submitted values</caption>
          <tr>
            <th>Fee paid</th>
            <td>Small fee</td>
          </tr>
          <tr>
            <th>Number of staff</th>
            <td>42
              <!-- <br><span class="tag">Checked online</span> -->
            </td>
          </tr>
          <tr>
            <th>Balance sheet under &pound;3.26m</th>
            <td>No</td>
          </tr>
          <tr>
            <th>Turnover under &pound;6.5m</th>
            <td>No</td>
          </tr>
          <tr>
            <th>Charitable status</th>
            <td>Yes</td>
          </tr>
          <tr>
            <th>Excluded from small companies' regime</th>
            <td>No</td>
          </tr>
        </table>
<!--
        <details role="group">

          <summary role="button" aria-controls="details-content-1" aria-expanded="false">
            <span class="summary">View documents</span>
          </summary>

          <div class="panel panel-border-narrow" id="details-content-1" aria-hidden="true">
            <img src="documents.png">
          </div>

        </details> -->

        <h3 class="heading-small">
          Is the fee correct?
        </h3>

        <div class="form-group">
          <fieldset class="">
            <legend class="visuallyhidden">Is the fee correct?</legend>

            <label for="feeCorrect" class="block-label">
              <input type="radio" name="fee" value="true" id="feeCorrect">
              Yes
            </label>

            <label for="underpaid" class="block-label" data-target="fee-underpaid">
              <input type="radio" name="fee" value="false" id="underpaid">
              No, they've underpaid
            </label>

            <div class="panel panel-border-narrow js-hidden" id="fee-underpaid">
              <div class="form-group">
                <label class="form-label-bold" for="feeIncorrect">Reason for underpayment</label>
                <span class="form-hint">
                  For example, number of staff is actually 55 and balance sheet is £4m.
                </span>
                <span class="error-message">
                  Enter a reason for underpayment
                </span>
                <textarea type="text" class="form-control" id="feeIncorrect" name="feeIncorrect" rows="6"></textarea>
              </div>
            </div>

            <!-- <label for="overpaid" class="block-label" data-target="fee-overpaid">
              <input type="radio" name="fee" value="true" id="overpaid">
              No, they've overpaid
            </label>

            <div class="panel panel-border-narrow js-hidden" id="fee-overpaid">
              <div class="form-group">
                <label class="form-label-bold" for="fee-over-reasons">Reason for overpayment</label>
                <textarea type="text" class="form-control" id="fee-over-reasons" name="fee-over-reasons" rows="6"></textarea>
              </div>
            </div> -->

          </fieldset>
        </div>


        <div class="form-group">
          <input type="submit" class="button" value="Submit">
        </div>

      </form>

    </div>

    <div class="column-third">
      <aside class="govuk-related-items" role="complementary">

        <h2 class="heading-medium" id="subsection-title">
          Fee rules
        </h2>

        <p>Small organisation's must meet two out of the following three criteria</p>

        <table style="margin-bottom: 30px">
          <caption class="visuallyhidden">Rules for small fee</caption>
          <tr>
            <th>Maximum number of staff</th>
            <td>50</td>
          </tr>
          <tr>
            <th>Maximum balance sheet</th>
            <td>&pound;3.26 million</td>
          </tr>
          <tr>
            <th>Maximum turnover</th>
            <td>&pound;6.5 million</td>
          </tr>

        </table>
      </aside>
    </div>

  </div>

</main>

{% endblock %}
