{% extends "layout.html" %}

{% block page_title %}
  Fee checks
{% endblock %}

{% block content %}

<main id="content" role="main">
  {% include "includes/phase_banner_alpha.html" %}
  <div class="grid-row">

    <div class="column-full">
      <a onclick="history.go(-1); return false;" href="#0" class="link-back">Back</a>
    </div>

    <div class="column-two-thirds">
      <h1 class="heading-large" style="margin: 30px 0;">
        Overseas Lawyers
        <small style="font-size: 50%">URN603600002Y</small>
      </h1>

      <div class="panel panel-border-wide" style="margin-bottom: 30px">
        <ul class="list">
          <li>Fee paid: Small fee</li>
          <li>Companies House number: <a href="https://beta.companieshouse.gov.uk/company/06232576" title="View on Companies House" target="_blank" rel="external">06232576</a></li>
          <li>Number of staff: 42</li>
        </ul>
      </div>

      <form action="/security-checks" method="get" class="form">

        <h2 class="heading-medium" style="margin-top: 0">
          Is the fee correct?
        </h2>

        <div class="form-group">
          <fieldset class="">
            <legend class="visuallyhidden">Is the fee correct?</legend>

            <label for="feeCorrect" class="block-label">
              <input type="radio" name="fee" value="true" id="feeCorrect">
              Yes
            </label>

            <label for="underpaid" class="block-label" data-target="fee-underpaid">
              <input type="radio" name="fee" value="false" id="underpaid">
              No, they've underpaid
            </label>

            <div class="panel panel-border-narrow js-hidden" id="fee-underpaid">
              <div class="form-group">
                <label class="form-label-bold" for="feeIncorrect">Reason for underpayment</label>
                <!-- <span class="form-hint">
                  For example, number of staff is actually 55 and balance sheet is £4m.
                </span> -->
<!--                 <span class="error-message">
                  Enter a reason for underpayment
                </span> -->
                <textarea type="text" class="form-control" id="feeIncorrect" name="feeIncorrect" rows="6"></textarea>
              </div>
            </div>

          </fieldset>
        </div>


        <div class="form-group">
          <input type="submit" class="button" value="Continue">
        </div>

      </form>

    </div>

    <div class="column-third">
      <aside class="govuk-related-items" role="complementary">

        <h2 class="heading-medium" id="subsection-title">
          Fee rules
        </h2>

        <p>Small organisations must meet two out of the following three criteria</p>

        <ol class="list list-number">
          <li style="list-style-type: decimal">Maximum members of staff of 50</li>
          <li style="list-style-type: decimal">Maximum turnover of &pound;6.5 million</li>
          <li style="list-style-type: decimal">Maximum balance sheet of &pound;3.26 million</li>
          <p style="margin: 20px 0; font-weight: 700">and</p>
          <li style="list-style-type: decimal">they must not provide banking, finance or insurance services</li>
        </ol>

        <div class="notice" style="margin: 30px 0">
          <i class="icon icon-important">
            <span class="visually-hidden">Warning</span>
          </i>
          <strong class="bold-small">
            Organisations are exempt from these criteria if they have a charitable status.
          </strong>
        </div>

      </aside>
    </div>

  </div>

</main>

{% endblock %}
