{% extends "layout.html" %}

{% block page_title %}
  Reset your password
{% endblock %}

{% block content %}

<main id="content" role="main">
  {% include "includes/phase_banner_alpha.html" %}
  <div class="grid-row">

    <div class="column-full">
      <a onclick="history.go(-1); return false;" href="#0" class="link-back">Back</a>
    </div>

    <div class="column-full">
      <h1 class="heading-large" style="margin: 30px 0 0;">
        Reset your password
      </h1>
    </div>

    <div class="column-two-thirds">
      <p>Enter your email address below. If there&rsquo;s an account associated with the address, we&rsquo;ll send you a link to reset your password.</p>
    </div>

    <div class="column-full">
      <form action="/password-reset" method="get" class="form">

        <fieldset>

          <div class="form-group ">
            <label class="form-label" for="email">Email address</label>
            <input type="email" name="email" id="email" class="form-control" value="">
          </div>

          <!-- <div class="form-group ">
            <label class="form-label" for="email-conf">Confirm your email address</label>
            <input type="email" name="email-conf" id="email-conf" class="form-control" value="">
          </div> -->

          <div class="form-group">
          <input type="submit" name="submit" id="signin-form-submit" value="Email me the link" class="button">
          </div>

        </fieldset>

      </form>
    </div>
  </div>
</main>

{% endblock %}
