{% extends "layout.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}

{% block content %}

<main id="content" role="main">
  <div class="grid-row">
    <div class="column-full">
      <h1 class="heading-xlarge" style="margin-bottom: .4em">
        Sponsorship caseworker prototype
      </h1>
    </div>

    <div class="column-two-thirds">

      <p class="lede"><a href="/login">View current prototype</a></p>

      <p style="margin-bottom: 0">Changes since the last version:</p>
      <ul class="list list-bullet">
        <li>Updated the workflow screens</li>
        <li>Reworked fees page to inc more info and added rules in aside</li>
        <li>Updated case notes to be audit trail, added examples</li>
        <li>Added ability to retrieve a case from hold</li>
        <li>Reduced size of some content and removed unnecessary titles</li>
        <li>Added question titles and changed answers to all be yes</li>
        <li>Error examples added (type 'error' in Org extra notes field and submit)</li>
        <li>Nows marks complete on when all radios selected per section</li>
        <li>On hold now uses date and retrieve shows reasons</li>
      </ul>

      <h2 class="heading-medium">Previously tested versions</h2>

      <ul class="list">

        <li>
          <a href="http://hod-sponsorship-caseworker-v4.herokuapp.com">Version 4</a> (Tested on 25/11/2016)
          <details role="group" style="border: 0; margin-top: 10px">
            <summary role="button" aria-controls="v4-changelog" aria-expanded="false">
              Version 4 changelog
            </summary>
            <div id="v4-changelog" aria-hidden="true">
              <ul class="list list-bullet">
                <li>Updated to latest prototype kit</li>
                <li>Added another alpha version which includes questions</li>
                <li>Search for 'alpha' to find the alpha caseworker page</li>
                <li>Change logo/title and add nav in with JS</li>
                <li>Updated navigation style</li>
                <li>Added basic MI dash, login with username 'admin' to access</li>
                <li>Questions/content updated by content designer</li>
                <li>Add notes functionality and new section to review them</li>
                <li>Sticky header on caseworker</li>
                <li>Added second other user</li>
                <li>Vacancy fields and questions updated</li>
                <li>Alpha version of on hold</li>
                <li>Changed button text for retrieve/reassign to me</li>
                <li>Added advertising details</li>
                <li>On hold page update</li>
                <li>Added COS change to alpha</li>
                <li>Added a sign in page</li>
                <li>Updated security check with correct fields</li>
                <li>Display users input on decision page</li>
                <li>Added grant and refuse confirmation pages</li>
                <li>Added other notes to each section of case working</li>
              </ul>
            </div>
          </details>
        </li>

        <li>
          <a href="http://hod-sponsorship-caseworker-v3.herokuapp.com">Version 3</a> (Tested on 10/11/2016)
          <details role="group" style="border: 0; margin-top: 10px">
            <summary role="button" aria-controls="v3-changelog" aria-expanded="false">
              Version 3 changelog
            </summary>
            <div id="v3-changelog" aria-hidden="true">
              <ul class="list list-bullet">
                <li>Removed company name and date submitted from cases view</li>
                <li>Changed UAN to URN</li>
                <li>Reworked the header, adding logout and alpha banner and changing layout</li>
                <li>Added script to calculate dates to keep SLA dates relevant throughout prototype cycle</li>
                <li>Removed fee check from workflow process</li>
                <li>Added a page confirming case should be rejected</li>
                <li>Added instructions to process PNC/WICU to workflow process</li>
                <li>Added an example completed cases page (WIP)</li>
                <li>Enabled URN links to cases, they now cause a casework button to be shown in place of...</li>
                <li>Added an action case button and next page (WIP)</li>
                <li>Added script to make each section as complete after submitting answers on that section</li>
                <li>Overhaul of data and questions based on user interviews and policy queries</li>
                <li>Moved some of the business questions out into a new section called offline checks</li>
                <li>Removed content such as previous applications/representations etc as deemed not MVP</li>
                <li>Created a second caseworking page which displays all content stacked in a linear approach for UT</li>
              </ul>
            </div>
          </details>
        </li>

        <li>
          <a href="http://hod-sponsorship-caseworker-v2.herokuapp.com">Version 2</a> (Tested on 26/10/2016)
          <details role="group" style="border: 0; margin-top: 10px">
            <summary role="button" aria-controls="v2-changelog" aria-expanded="false">
              Version 2 changelog
            </summary>
            <div id="v2-changelog" aria-hidden="true">
              <ul class="list list-bullet">
                <li>Added extra content/sections to caseworking</li>
                <li>Changed SPL to UAN</li>
                <li>Updated languange across buttons and statuses on cases</li>
                <li>Added extra entries to cases page</li>
                <li>Added tabs to cases page to filter all and user cases</li>
                <li>Added fee rules</li>
                <li>Added signed submission sheet check</li>
              </ul>
            </div>
          </details>
        </li> <!-- /v2 -->

        <li>
          <a href="http://hod-sponsorship-caseworker-v1.herokuapp.com">Version 1</a> (Tested on 20/10/2016)
          <details role="group" style="border: 0; margin-top: 10px">
            <summary role="button" aria-controls="v1-changelog" aria-expanded="false">
              Version 1 changelog
            </summary>
            <div id="v1-changelog" aria-hidden="true">
              <ul class="list list-bullet">
                <li>Cases table with search function above</li>
                <li>Workflow process with docs and fee check</li>
                <li>Caseworker page with left-hand nav</li>
              </ul>
            </div>
          </details>
        </li> <!-- /v1 -->

      </ul>

    </div>
  </div>
</main>

{% endblock %}


