{% extends "layout.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}

{% block content %}

<main id="content" role="main">
  <div class="grid-row">
    <div class="column-two-thirds">

      <h1 class="heading-xlarge">
        Sponsorship caseworker prototype
      </h1>

      <p class="lede">
        The latest version of our prototype:
      </p>
      <p><a href="/cases">Our test prototype</a></p>

      <h2 class="heading-small">Previous versions</h2>

      <ul class="list">

        <li>
          <a href="http://hod-sponsorship-caseworker-v1.herokuapp.com">Version 1</a> (Tested on 20/10/2016)
          <details role="group" style="border: 0; margin-top: 10px">
            <summary role="button" aria-controls="v1-changelog" aria-expanded="false">
              Version 1 changelog
            </summary>
            <div id="v1-changelog" aria-hidden="true">
              <ul class="list list-bullet">
                <li>Cases table with search function above</li>
                <li>Workflow process with docs and fee check</li>
                <li>Caseworker page with left-hand nav</li>
              </ul>
            </div>
          </details>
        </li> <!-- /v1 -->

<!--         <li>
          <a href="http://hod-sponsorship-caseworker-v[no].herokuapp.com">Version [no]</a> (Tested on 20/10/2016)
          <details role="group" style="border: 0; margin-top: 10px">
            <summary role="button" aria-controls="v[no]-changelog" aria-expanded="false">
              Version [no] changelog
            </summary>
            <div id="v[no]-changelog" aria-hidden="true">
              <ul class="list list-bullet">
                <li></li>
              </ul>
            </div>
          </details>
        </li> --> <!-- /v[no] -->

      </ul>

    </div>
  </div>
</main>

{% endblock %}


