{% extends "layout.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}

{% block content %}

<main id="content" role="main">
  <div class="grid-row">
    <div class="column-two-thirds">

      <h1 class="heading-xlarge">
        Sponsorship caseworker prototype
      </h1>

      <p class="lede">
        The latest version of our prototype:
      </p>
      <p><a href="/cases">Our test prototype</a></p>

      <h2 class="heading-small">Previous versions</h2>

      <ul class="list">

        <!-- <li>
          <a href="http://hod-sponsorship-caseworker-v[no].herokuapp.com">Version [no]</a> (Tested on 20/10/2016)
          <details role="group" style="border: 0; margin-top: 10px">
            <summary role="button" aria-controls="v[no]-changelog" aria-expanded="false">
              Version [no] changelog
            </summary>
            <div id="v[no]-changelog" aria-hidden="true">
              <ul class="list list-bullet">

              </ul>
            </div>
          </details>
        </li>  --><!-- /v[no] -->

        <li>
          <a href="http://hod-sponsorship-caseworker-v3.herokuapp.com">Version 3</a> (Tested on 10/11/2016)
          <details role="group" style="border: 0; margin-top: 10px">
            <summary role="button" aria-controls="v3-changelog" aria-expanded="false">
              Version 3 changelog
            </summary>
            <div id="v3-changelog" aria-hidden="true">
              <ul class="list list-bullet">
                <li>Removed company name and date submitted from cases view</li>
                <li>Changed UAN to URN</li>
                <li>Reworked the header, adding logout and alpha banner and changing layout</li>
                <li>Added script to calculate dates to keep SLA dates relevant throughout prototype cycle</li>
                <li>Removed fee check from workflow process</li>
                <li>Added a page confirming case should be rejected</li>
                <li>Added instructions to process PNC/WICU to workflow process</li>
                <li>Added an example completed cases page (WIP)</li>
                <li>Enabled URN links to cases, they now cause a casework button to be shown in place of...</li>
                <li>Added an action case button and next page (WIP)</li>
                <li>Added script to make each section as complete after submitting answers on that section</li>
                <li>Overhaul of data and questions based on user interviews and policy queries</li>
                <li>Moved some of the business questions out into a new section called offline checks</li>
                <li>Removed content such as previous applications/representations etc as deemed not MVP</li>
                <li>Created a second caseworking page which displays all content stacked in a linear approach for UT</li>
              </ul>
            </div>
          </details>
        </li> <!-- /v3 -->

        <li>
          <a href="http://hod-sponsorship-caseworker-v2.herokuapp.com">Version 2</a> (Tested on 26/10/2016)
          <details role="group" style="border: 0; margin-top: 10px">
            <summary role="button" aria-controls="v2-changelog" aria-expanded="false">
              Version 2 changelog
            </summary>
            <div id="v2-changelog" aria-hidden="true">
              <ul class="list list-bullet">
                <li>Added extra content/sections to caseworking</li>
                <li>Changed SPL to UAN</li>
                <li>Updated languange across buttons and statuses on cases</li>
                <li>Added extra entries to cases page</li>
                <li>Added tabs to cases page to filter all and user cases</li>
                <li>Added fee rules</li>
                <li>Added signed submission sheet check</li>
              </ul>
            </div>
          </details>
        </li> <!-- /v2 -->

        <li>
          <a href="http://hod-sponsorship-caseworker-v1.herokuapp.com">Version 1</a> (Tested on 20/10/2016)
          <details role="group" style="border: 0; margin-top: 10px">
            <summary role="button" aria-controls="v1-changelog" aria-expanded="false">
              Version 1 changelog
            </summary>
            <div id="v1-changelog" aria-hidden="true">
              <ul class="list list-bullet">
                <li>Cases table with search function above</li>
                <li>Workflow process with docs and fee check</li>
                <li>Caseworker page with left-hand nav</li>
              </ul>
            </div>
          </details>
        </li> <!-- /v1 -->

      </ul>

    </div>
  </div>
</main>

{% endblock %}


