{% extends "layout.html" %}

{% block page_title %}
  Security checks
{% endblock %}

{% block content %}

<main id="content" role="main">
  {% include "includes/phase_banner_alpha.html" %}
  <div class="grid-row">

    <div class="column-full">
      <a onclick="history.go(-1); return false;" href="#0" class="link-back">Back</a>
    </div>

    <div class="column-two-thirds">
      <h1 class="heading-large" style="margin: 30px 0;">
        Overseas Lawyers
        <small style="font-size: 50%">1701-0000-0010-0007</small>
      </h1>
    </div>

  </div>
  <div class="grid-row">

    <div class="column-two-thirds">
      <form action="/application-precheck-confirm" method="get" class="form">

        <h2 class="heading-medium" style="margin-top: 0">
          Security checks
        </h2>

        <p>The following users need adding to the PNC and WICU table for checks before continuing.</p>

        <table style="margin-bottom: 30px">
          <thead>
            <tr>
              <th>Reference</th>
              <th>Doc type</th>
              <th>Country of issue</th>
              <th>Doc number</th>
              <th>Surname</th>
              <th>Forename(s)</th>
              <th>DOB day</th>
              <th>DOB month</th>
              <th>DOB year</th>
              <th>Nationality</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>1701-0000-0010-0007</td>
              <td>P</td>
              <td>IND</td>
              <td>152505696</td>
              <td>Junco</td>
              <td>Delice</td>
              <td>18</td>
              <td>09</td>
              <td>1942</td>
              <td>IND</td>
            </tr>
            <tr>
              <td>1701-0000-0010-0007</td>
              <td>NI</td>
              <td>GBR</td>
              <td>CA306687C</td>
              <td>Kensy</td>
              <td>Gwendolyn</td>
              <td>03</td>
              <td>03</td>
              <td>1982</td>
              <td>GBR</td>
            </tr>
            <tr>
              <td>1701-0000-0010-0007</td>
              <td>NI</td>
              <td>GBR</td>
              <td>KY140872C</td>
              <td>Pensinger</td>
              <td>Ford</td>
              <td>23</td>
              <td>08</td>
              <td>1950</td>
              <td>GBR</td>
            </tr>
          </tbody>
        </table>

        <div class="form-group">
          <input type="submit" class="button" value="Continue">
        </div>

      </form>

    </div>

  </div>

</main>

{% endblock %}
